
<table>
 <tr>
   <td>
     <p style="font-size:1em;margin-left:50px;">ASIGNACI&Oacute;N  DE LABORATORIOS</p>
     <% activo=Periodo.find(:first,:conditions=>['activo = ? and tipo= ?',"t","Lectivo"]) %>
     <% if activo.nil? %>
        <% activo=Periodo.find(:first,:conditions=>['tipo= ? and inicio>= ?',"Lectivo",Date.today],:order=>"inicio") %>
        <% inactivo=true %>
     <% end %>
     <div id="nom_periodo" style="margin-left:50px;">
     <% if inactivo %>
       <span style="color:red">(Consulta inactiva para usuarios)</span>
     <% else %>
       <% usuario=Usuario.find(session[:user_id]) %>
       <%= activo.nombre+" : "+ usuario.nombre+" "+usuario.apellidos %>
     <% end %>
     </div></td>
   <td class="cientocincuenta"></td>
   <td>
     <%= image_tag("logo_lcc.png", :border=>0,:width=>"195", :height=>"100", :id=>"logotipo") %> </td>
  </tr>
</table>
 <p style="margin-left:50px;"><%= image_tag ("bg_separ.gif") %></p>
<div id="recuadro">
 <div id="lista-gestion">

  <table>
   <tr>
    <th class="cincuenta"></th>
    <th class="cien">D&iacute;a</th>
    <th class="cientocincuenta">Asignatura</th>
    <th class="cincuenta">Titulaci&oacute;n</th>
    <th class="cien">Curso</th>
    <th class="cincuenta">Puestos</th>
    
    <th class="cientocuenta">Horario</th>
    <th class="cientocincuenta">Laboratorios</th>
   </tr>
   <% aant_id=0 %><% diaant="aaaaa" %>
   <% @asignacions.each do |a| %>
  
  <% if aant_id!=a.solicitudlab_id %>
   <% if diaant != a.dia %>
   <tr><td colspan=8 ></td></tr>
  <% end %>
  
   <tr valign="top" class="<%=cycle('linea-impar','linea-par') %>">
    <td style="background-color:white"></td>
    <td style="text-align:center"><% if diaant != a.dia %>
                                    <%=h a.dia.nombre %>
                                  <% end %><% diaant=a.dia %></td>
    <td><%= "<a onmouseover=ShowContent('asignatura"+a.id.to_s+"'); return true;
   			   onmouseout=HideContent('asignatura"+a.id.to_s+"'); return true;>" %>
                           <%= "<div id=asignatura"+a.id.to_s %> 
				style='display:none;position:absolute;
      					border-style: solid;
      					background-color: white;
      					padding: 5px;';>
                                        <%=h a.solicitudlab.asignatura.nombre_asig %>
			    </div>
         <%=h a.solicitudlab.asignatura.abrevia_asig %></a></td>
   
    <td>
        <%= "<a onmouseover=ShowContent('titulacion"+a.id.to_s+"'); return true;
   			   onmouseout=HideContent('titulacion"+a.id.to_s+"'); return true;>" %>
                           <%= "<div id=titulacion"+a.id.to_s %> 
				style='display:none;position:absolute;
      					border-style: solid;
      					background-color: white;
      					padding: 5px;';>
                                        <%=h a.solicitudlab.asignatura.titulacion.nombre %>
			    </div>
        <%=h a.solicitudlab.asignatura.titulacion.abrevia %></a></td>
    <td style="text-align:center"><%=h a.solicitudlab.curso=="sin curso"? "-" : a.solicitudlab.curso %></td>
    <td style="text-align:center"><%=h a.solicitudlab.npuestos %></td> 
    <td><% todasas=@asignacions.select{|as| as.solicitudlab==a.solicitudlab } %>
        <%=h a.horaini+"-"+todasas.last.horafin %></td>
    <td style="text-align:center"><% labs=todasas.map{|as| as.laboratorio.nombre_lab }.sort %>
        <% antlab=" " %>
        <% labs.each do |l|  %>
          <% if antlab!=l %>
            <% if antlab!=" " %>
               <%= " - " %>
            <% end %>
            <%=h l %>
          <% end %>
          <% antlab= l %>
        <% end %></td>
    
                           
    </td>
   </tr>
     <% aant_id=a.solicitudlab_id %>
    <% end %><!-- de if ant -->
   <% end %><!-- de @asignacions -->

  </table>
</div>
</div>
