<style>
@media print 
{
    @page {size: landscape} 
  
    table 
    {
        border-collapse: collapse;
    }

    td, th 
    {
        border: 1px solid black;
    }

    thead {
        display: table-header-group;
        text-align: center;
    }

    tbody {
        display: table-row-group;
    }

    tr.breakRow{
        page-break-inside: avoid;
        margin-top: 10px;
    }
}
</style>

<table>
 <tr>
   <td style="border:none">
     <p style="font-size:1em;margin-left:50px;">SOLICITUDES DE LABORATORIOS: LECTIVO</p>
     <% activo=Periodo.where("activo = ? AND tipo= ?","t","Lectivo").order("inicio desc").first %>
     <% if activo.nil? %>
        <% activo=Periodo.where("tipo= ? AND inicio>= ?","Lectivo",Date.today).order("inicio desc").first %>
        <% inactivo=true %>
     <% end %>
     <div id="nom_periodo" style="margin-left:50px;">
     <% if inactivo %>
       <span style="color:red">(Consulta inactiva para usuarios)</span>
     <% else %>
       <%= activo.nombre %>
     <% end %>
     </div></td>
   <td class="cientocincuenta" style="border:none"></td>
   <td style="border:none">
     <%= image_tag("logo_lcc.png", :border=>0,:width=>"195", :height=>"100", :id=>"logotipo") %> </td>
  </tr>
</table>

 <p style="margin-left:50px;"><%= image_tag ("bg_separ.gif") %></p>
 <div>
 <div id="lista-gestion">

  <table style="margin-left:50px;margin-top:50px;">
   <thead>
   <tr class="breakRow">
     <th class="cien">Fecha sol.</th>  
     <th class="doscientos">Usuario</th>
     <th class="cien">Asignatura</th>
     <th class="cincuenta">Curso</th>
     <th class="cincuenta">Eq.</th>
     <th class="cien">F.inicio/F.fin</th>
     <th class="cien">Petici&oacute;n</th>
     <th>Soft.</th>
     <th class="cien">Elecci&oacute;n equipos</th>  
  </tr>
  </thead>
   <% @solicitudlabs.each do |a| %>
   <tbody>
      <tr valign="top" class="<%=cycle('linea-impar','linea-par') %> breakRow">
         <td style="text-align:center;vertical-align:middle" width="80px"><%= fecha_europea(a.fechasol) %></td> 
         <td style="vertical-align:middle">
              <%if a.usuario_id == 135%>
                 <%= a.usuario.nombre%>
               <%else%>
                 <%= a.usuario.nombre+" "+a.usuario.apellidos %>
               <%end%>
         </td>
         <td style="text-align:center;vertical-align:middle"><%= a.asignatura.abrevia_asig %></td>
         <td style="text-align:center;vertical-align:middle">
                <% if a.asignatura.curso.to_s=="sin curso" %>
                    <%= "-" %>
                <% else %>
                    <%= a.curso %>
                <% end %>
         </td>
         <td style="text-align:center;vertical-align:middle"><%= a.npuestos %></td>
         <td style="text-align:center;vertical-align:middle"><%= fecha_europea(a.fechaini) %>/<br/><%= fecha_europea(a.fechafin) %></td>  
          <td><% @tramos=a.peticionlab %>
             <table class="tramosTable">
                <%=render(:partial => "/solicitudrecursos/tramo_peticion", :collection=> @tramos ) %>
             </table>
         </td>
         <td style="text-align:center;vertical-align:middle"><%="SI" unless a.comentarios.to_s=="" %>
         </td>
         <td><% @preferencias=a.preferencias.split(";") unless a.preferencias.nil? %>  
            <table class="prefTable" >
              <%=render(:partial => "/solicitudlabs/tramo_preferencia", :collection=> @preferencias ) %>
            </table>
         </td>  
   </tr>
   </tbody>
   <% end %><!-- de @solicitudlabs -->

  </table>
 </div>
</div>