<% nsol=Solicitudlab.all.size %>
<% nsolexa=Solicitudlabexa.all.size %>
<% nasig=Asignacion.all.size %>
<% nasigdef=Asignaciondef.all.size %>
<% nasignacionexa=Asignacionlabexa.all.size %>
<% nasignacionexadef=Asignacionlabexadef.all.size %>
<% total=nsol+nsolexa+nasig+nasigdef+nasignacionexa+nasignacionexadef %>

<%= form_tag new_asignatura_path, :method=>:get do -%>
  <%= submit_tag "Nueva asignatura", :class=>"botonindexsearch" %>
<% end -%>

<% if @asignaturas %>
  <p>Asignaturas : <%=@cuenta %></p>
  <p><%= image_tag ("bg_separ.gif") %></p>

 <% if @cuenta!=0 %>
  <table>
   <tr>
    <th> </th>
    <th class="cincuenta">C&oacute;d.</th>
    <th class="doscincuenta">Nombre</th>
    <th class="doscientos">Acr&oacute;nimo</th>
    <th class="cien">Titulaci&oacute;n</th>
    <th class="cincuenta">Curso</th>
    <th class="cincuenta">&Aacute;rea</th>
    <th class="cincuenta">Coeficiente</th>
    <th class="cincuenta">Tipo</th>
    <th class="cincuenta">Semes./Cuatr.</th>
   </tr>

   <% @asignaturas.each do |i| %>

   <tr valign="top" class="<%=cycle('linea-impar','linea-par') %>">
    <td class="icono"><%= link_to image_tag("Editar.png", :border=>0), edit_asignatura_path(i.id) %></td> 
    <td style="text-align:right"><%= i.codigo_asig %></td>
    <td><%= i.nombre_asig %></td>
    <td><%= i.abrevia_asig %></td>
    <td>
        <a onmouseover="ShowContent('titulacion<%= i.id.to_s %>'); return true;"
   			   onmouseout="HideContent('titulacion<%= i.id.to_s %>'); return true;">
                     <div id='titulacion<%= i.id.to_s %>'
				style='display:none;position:absolute;
      					border-style: solid;
      					background-color: white;
      					padding: 5px;';>
                                        <%= i.titulacion.nombre %>
			    </div>
        <%= i.titulacion.abrevia %></a></td>
    <td style="text-align:center"><% if i.curso>0 %>
                                     <%= i.curso %>
                                  <% else %>
                                     <%= "-" %>
                                  <% end %></td>
    <td><%= i.area_depto %></td> 
    <td style="text-align:right"><%= i.coeficiente_exp %></td> 
    <td style="text-align:center"><%= i.caracter %></td>
    <td style="text-align:center"><% if i.cuatrimestre!=0 %>
                                     <%= i.cuatrimestre %>
                                  <% else %>
                                     <%= "anual" %>
                                  <% end %></td>
    
    <td class="icono">
      <% if total==0 %>
        <%= link_to image_tag("borrar.png", :border=>0), i, 
            data: {confirm: '¿Seguro que desea eliminar '+i.nombre_asig+'?'}, :method => :delete %></td> 
      <% end %>
   </tr>

   <% end %><!-- de @asignaturas.each -->

  </table>

 <% end %><!-- de if cuenta!=0 -->

<% end %><!-- de if @asignaturas -->

