

<div id="central" >
  <p id="titulo">GESTOR DE RECURSOS<br>
    <%= image_tag ("pointer.gif") %>Gesti&oacute;n de archivos: Asignaturas
  </p>
  <div id="recuadro">
    <div id="lista-gestion">
      <p><%= image_tag ("bg_separ.gif") %></p>
      <div id="busqueda" data-request-path='<%= url_for(:controller=>'asignaturas', :action=>'listar')%>'>
        <table>
          <tr>
           <td><%= image_tag("search.png") %></td>
           <td>Buscar  : 
           <td><%= text_field_tag "query" %></td>
           
          </tr>
        </table>
      </div>
      <div id="tabla"><%= render :partial => "items_lista" %></div> 
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
        // we can now rely on $ within the safety of our "bodyguard" function
        $( function() { 
		$("#query").keyup(function()
			{  
				var jqueryVal=$("#query").val();
		   		var url="/asignaturas/listar";
				$.ajax({
beforeSend:function(xhr)
{
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
},

					 type:"POST",
					  url:url,
					  data:{query: jqueryVal},
					});
			});
	  } );

</script>
