<div id="central" >
    <p>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Creando reserva de recurso
    </p>
    <div id="recuadro">
       <p><%= image_tag ("bg_separ.gif") %></p>
       <% @recursos=Recurso.order("identificador").to_a %>
       <% @recursos=@recursos.select {|x| x.disponible.to_s=="true"} %>
       <%= form_for @solicitudrecurso, :html=> {:name => "formulario"} do |s| %>
       <table id="busqueda2">
         <tr>
          <td>Tipo de recurso *</td>
          <td id="combo_descripcion"><%= select "tipo", "descripcion", @recursos.map {|r| [r.descripcion]}.uniq %></td>
          <td>Fecha *</td>
              <% hoy=Date.today.strftime("%d-%m-%Y") %>
          <td><%= s.text_field :fechareserva, :size=>12,:value=>hoy ,:name=>"fecha", 
                   :id=>"DPC_fechareserva_DD-MM-YYYY"%></td>
          <td><%= link_to(image_tag("boton2.png",:border=>0),"#",id:"linkBusqueda") %></td>
         </tr>
       </table>
       <p></p><p></p>
       <div id="reservas">
       </div> <!-- de reservas -->
       <% end %>
    </div><!-- de recuadro -->
</div><!-- de central -->

<script type="text/javascript">
$(function()
  {
    $("#linkBusqueda").click(function()
      {
        var url="/solicitudrecursousuarios/buscar";
        var fecha=$("input[name=fecha]").val();
        var descripcion=$("#tipo_descripcion").val();
        $.ajax({
          type:"POST",
          url:url,
          data:{fecha:fecha,tipo_descripcion:descripcion}
        });

      });
    
  });

</script>