<p><%= image_tag ("bg_separ.gif") %></p>
 <% activo=Periodo.where("activo = ? AND tipo= ?","t","Examenes").first %>
   <% if activo.nil? %>
      <% activo=Periodo.where("tipo= ? AND inicio >= ?","Examenes",Date.today).order("inicio").first %>
      <% inactivo=true %>
   <% end %>
      <div id="nom_periodo">
         
         <% if inactivo %>
             <span style="color:red">(Consulta inactiva para usuarios)</span>
         <% else %>
             <%= activo.nombre %>
         <% end %>
         <span style="margin-left:600px;color:blue;font-weight:normal;font-size:0.7em">Para imprimir 
         <%= link_to image_tag("print.png",:alt=>"Para imprimir"), '../listado/asignacion_examenes_impresa',{:target => "_blank" } %></span>
      </div>
<div id="asignadirecta" style="top:-117px;left:700px"><%= link_to 'Asignación directa','../asignacionexas/asigna_directa' %></div>

<div id="recuadro">
 <div id="lista-gestion">

  <table>
   <tr>
    <th class="cien">Fecha</th>
    <th class="doscincuenta">Profesor</th>
    <th class="cientocincuenta">Asignatura</th>
    <th class="cincuenta">Titulaci&oacute;n</th>
    <th class="cien">Curso</th>
    <th class="cincuenta">Puestos</th>
    
    <th class="cientocuenta">Horario</th>
    <th class="cientocincuenta">Laboratorios</th>
    <th></th>
   </tr>
   <% aant_id=0 %><% diaant="1000-1-1" %>
   <% @asignacionexas.each do |a| %>
  
  <% if aant_id!=a.solicitudlabexa_id %>
   <% if diaant != a.dia %>
   <tr><td colspan=8 ></td></tr>
  <% end %>
  
   <tr valign="top" class="<%=cycle('linea-impar','linea-par') %>">
    <td style="text-align:center"><% if diaant != a.dia %>
                                    <%= formato_europeo(a.dia) %>
                                  <% end %><% diaant=a.dia %></td>
    <td><%= a.solicitudlabexa.usuario.nombre+" "+a.solicitudlabexa.usuario.apellidos %></td>
    <td><a onmouseover="ShowContent('asignatura<%=a.id.to_s%>'); return true;"
   			   onmouseout="HideContent('asignatura<%=a.id.to_s%>'); return true;">
          <div id="asignatura<%=a.id.to_s%>" 
				       style='display:none;position:absolute;
      					      border-style: solid;
      					      background-color: white;
      					      padding: 5px;';>
          <%= a.solicitudlabexa.asignatura.nombre_asig %>
			    </div>
         <%= a.solicitudlabexa.asignatura.abrevia_asig %></a></td>
   
    <td>
        <a onmouseover="ShowContent('titulacion<%=a.id.to_s%>'); return true;"
   			   onmouseout="HideContent('titulacion<%=a.id.to_s%>'); return true;"> 
          <div id="titulacion<%=a.id.to_s%>"
				       style='display:none;position:absolute;
      					      border-style: solid;
      					      background-color: white;
      					      padding: 5px;';>
          <%= a.solicitudlabexa.asignatura.titulacion.nombre %>
			    </div>
        <%= a.solicitudlabexa.asignatura.titulacion.abrevia %></a></td>
    <td style="text-align:center"><%= a.solicitudlabexa.curso=="sin curso"? "-" : a.solicitudlabexa.curso %></td>
    <td style="text-align:center"><%= a.solicitudlabexa.npuestos %></td> 
    <td><% todasas=@asignacionexas.select{|as| as.solicitudlabexa==a.solicitudlabexa } %>
        <%= a.horaini+"-"+todasas.last.horafin %></td>
    <td style="text-align:center"><% labs=todasas.map{|as| as.laboratorio.nombre_lab }.sort %>
        <% antlab=" " %>
        <% labs.each do |l|  %>
          <% if antlab!=l %>
            <% if antlab!=" " %>
               <%= " - " %>
            <% end %>
            <%= l %><%= link_to image_tag("borrar.png",:border=>0,:height => "50%"), "#", id:"borraDirAsig"%>
          <% end %>
          <% antlab= l %>
        <% end %></td>
   </tr>
     <% aant_id=a.solicitudlabexa_id %>
    <% end %><!-- de if ant -->
   <% end %><!-- de @asignacionexas -->

  </table>
 </div>
</div>


<script type="text/javascript">

$(function()
{
   $('#borraDirAsig').click(function () { 

         var aux=$("div[id^='asignatura']").attr("id"); 
         var asignaId = aux.replace("asignatura",""); 
 
         if(confirm('Seguro que desea eliminar la asignacion?'))
         {
            $.ajax({
                     type: "POST",
                     url: "borradirasignada",
                     data: { asigna:asignaId }
                   })
         }  
    }) 
});

</script>