<div id="central" >
     <p>GESTOR DE RECURSOS<br/>
        <%= image_tag ("pointer.gif") %>Asignaci&oacute;n de laboratorios: Asignaci&oacute;n directa
     </p>
     <div id="recuadro">
       <p><%= image_tag ("bg_separ.gif") %></p>
       <% activo=Periodo.find(:all,:conditions=>['activo = ?',"t"]) %>
        <div id="recuadro-azul" style="height:400px">
          <% form_for @solicitudlab,:url => '../asignacionexas/graba', :action=>"graba",  :html=> {:name => "formulario"} do |f| %>
          <dl>
            <dt>Fecha solicitud</dt>
            <dd><%= @dia=@solicitudlab.fecha= fecha_europea(Date.today) %></dd>
            <dt>Usuario *</dt>
            <dd><% @usuarios=Usuario.find(:all,:order=>"apellidos") %>
                <%= select "usuario", "identificador", @usuarios.map {|u| [u.apellidos+", "+u.nombre,u.id]} %>
            </dd>
            <dt>Titulaci&oacute;n *</dt>
            <dd id="combo_titulacion"><%@titulaciones=Titulacion.find(:all,:order=>"id")%>
                <%= select "titulacion", "titulacion_id", @titulaciones.map {|t| [t.nombre,t.id]} %></dd>
            <dt>Curso *</dt>
            <dd id="combo_nivel"><%= select_tag "nivel", options_for_select(Asignatura::CURSO)%></dd>
	    <dt>Asignatura *</dt>    
            <dd><SPAN id="combo_asignatura">
                <% if (Asignatura::CURSO).first=="sin curso" %>
                   <% as='0' %>
                <% else %>
                   <% as=Asignatura::CURSO.first %>
                <% end %>
                <% @asignaturas=Asignatura.find(:all,:conditions=>['titulacion_id = ? and curso = ?',@titulaciones.first.id,as]) %>
                <%= select "asignatura", "id", @asignaturas.map {|t| [t.nombre_asig,t.id]} %>
                </span><dd>
                <%= observe_field 'titulacion_titulacion_id', 
                            :url =>{:controller => 'asignaturas', :action => 'combo_por_titulacion'}, 
                            :update => 'combo_asignatura', 
                            :with => 'combo_titulacion' %>
                <%= observe_field 'nivel', 
                            :url =>{:controller => 'asignaturas', :action => 'combo_por_nivel'}, 
                            :update => 'combo_asignatura', 
                            :with => 'combo_nivel' %>
            </dd>
            <dt>Laboratorio *</dt>
            <dd><% @laboratorios=Laboratorio.find(:all,:order=>"nombre_lab") %>                                             
                <%= select "laboratorio_id", "nombre_lab", @laboratorios.map {|l| [l.nombre_lab]} %>
            </dd>            
            <dt>Fecha *</dt>
            <dd>
              <% periodoact=Periodo.find(:first,:conditions=>["activo = ? and tipo = ?","t","Examenes"]) %>
                <% if periodoact.nil? %>
                   <%  inicio=fecha_europea(Periodo.find(:first,:conditions=>["inicio >= ? and tipo = ?",Date.today]).inicio) %>
                <% else %>
                   <% iniperiodoact=periodoact.inicio %>
                   <% inicio=fecha_europea(iniperiodoact) %>
                <% end %>
              <%= f.text_field :fecha, :size=>12, :name=>"fecha",  :id=>"DPC_fecha_DD-MM-YYYY", 
                  :value=>inicio %></dd>
            <dt>Soft. requerido</dt>
            <dd><%= f.text_area :comentarios, :rows =>4, :cols=>40, :name=>"comentarios" %></dd>
            
           <dt>Tramo horario *</dt>
           <dd><table>
                       <tr style="font-size:1.1em;text-align:center">
                          <td class="cien">Hora inicio </th>
                          <td class="cien">Hora fin </th>
                       </tr>
                       <tr valign="top" style="text-align:center"> 
                          <td class="cien"><% @horas=Horasexa.find(:all,:conditions=>['en_uso=?',"t"],:order=>"id") %>
                                       <%= select "horaini", "comienzo", @horas.map {|h| [h.comienzo] }%></td>
                          <td class="cien"><%= select "horafin", "fin", @horas.map {|h| [h.fin] }%></td>
                       </tr>
                </table><!-- de subformulario --></td>
            </dd><!-- de tramos horarios -->
               <p><% form_tag '../asignarexa/asigna_directa', :method=>:get do -%>
                     <%= submit_tag "Asignar",:class=>"botonescondido",:style=>"visibility:visible",:id=>"asignar" %>
                  <% end -%></p>
          </dl>  
        </div><!-- de recuadro-azul -->
        <div id="errores">
             <%= f.error_messages :header_message => 'Se produjeron errores en la captura de datos', 
                  :message => 'Imposible crear una nueva asignacion de laboratorio:'%>
             <% if flash[:notice] %>
                <div id="errorExplanation">
                  <p>Imposible crear una nueva asignacion de laboratorio:</p>
                  <ul><li><%=flash[:notice]%></li></ul>
                </div>
             <% end %>
         </div>
        <% end %><!-- de form_for -->
       <% else %>
     </div><!-- de recuadro -->
</div><!-- de central -->
