<script type="text/javascript">
function makeDroppable()
{	
	$('#external-events .fc-event').each(function() 
	{
        // store data so the calendar knows to render an event upon drop
		var info= $.trim($(this).attr("title")).replace(/%/g, "\\n");
		$(this).data('event', {
			info: info,
			id: $.trim($(this).attr("id")),
			title: $.trim($(this).text()), // use the element's text as the event title
			stick: true //maintain when user navigates(see docs on the renderEvent method)
		});

		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});
	});
}

function deshacer()
{
	if($.isEmptyObject($.evento)==false)
	{
		$.evento.source=null;
		switch($.evento.operacion)
		{
			case 'copiar':
			elimEventListaExt($.evento.id,false);
			break;

			case 'cortar':
			moverACalendario($.evento.id,$.evento.dia_id);
			break;

			case 'pegar':
			moverEventoTmp($.evento,false,$.evento.dia_id,true);
			$("#"+$.evento.dia_id).fullCalendar('removeEvents',$.evento.id);
			makeDroppable();
			break;

			default:
			updateEvent($.evento,false);
			$("#"+$.evento.dia_id).fullCalendar('removeEvents', $.evento.id);
			$("#"+$.evento.dia_id).fullCalendar("renderEvent",$.evento);
		}
	}
	$.evento={};
}

function filterEventsByDay(eventsList,day)
{
     var data = $.parseJSON(eventsList);
     var returnedData = $.grep(data, function(dt) 
     {
         return dt.dia_id == day;
     });

     return returnedData;
};

function registrarEvento(evento)
{
	evento.room_id=evento.laboratorio_id;
	evento.start=evento.horaini;
	evento.end=evento.horafin;
	evento.info=evento.info.replace(/%/g, "\r\n");
	evento.title=evento.title.replace(/%/g, "\r\n");
	$.evento=evento;
}

function updateEventCalendar(event)
{
   event.temporal=false;
   var dia_id = obtenerCalendarioActual();
   event.dia_id=dia_id;
   event.horaini = event.start.hours()+":"+event.start.minutes();

   if(event.end == null)
   {
   	  horafin=new Date(event.start.toDate());
   	  event.horafin = horafin.getHours()+":"+horafin.getMinutes();
   }
   else
   {
   	  event.horafin = event.end.hours()+":"+event.end.minutes();
   }

   updateEvent(event,true);
}
function updateEvent(event, registrarAntiguo)
{
   $.ajax({
	    type:"POST",
	    dataType:"json",
	   	url:"/asignacions/actualizar",
	   	data:{asigna:event.id, peticionlabId: event.peticionlab_id, dia_id:event.dia_id ,   horaini:event.horaini, horafin:event.horafin, lab_id:event.room_id, temporal:event.temporal},
	   	success:function(response)
	   	{
	   		if(registrarAntiguo)
	   		{
				response.operacion=event.operacion;
	   			registrarEvento(response);

	   			var conflicts = GetConflictsForEventInCalendar(event,event.dia_id);
				if(conflicts.length > 1){
					$('*[data-id='+event.id+']').parent().parent().css({"border-color":"red","border-width":"2px", "border-style":"solid"});
				}
	   		}
	   	}
	});	
}

function isElemOverDiv(draggedItem, dropArea) 
{
	 // Prep coords for our two elements
	 var b = $(dropArea).offset();
	 b.right = $(dropArea).outerWidth() + b.left;
	 b.bottom = $(dropArea).outerHeight() + b.top;
	 // Compare
	 if (draggedItem.pageX >= b.left && draggedItem.pageX<= b.right &&
	     draggedItem.pageY>= b.top && draggedItem.pageY <= b.bottom){return true;}
	 return false;
}

function obtenerCalendarioActual()
{
	var active = $('#tabs .ui-state-active').children("a");
	var diaId = active.attr("href").substring(1);//Sirve para distinguir entre el calendario de un dia o de otro
	return diaId;
}

function elimEventListaExt(id,confirmacionReq)
{
	if((confirmacionReq==false)||(confirm("¿Desea realmente eliminar la asignación?")))
	{
		$("#external-events #"+id).remove();

		//elimina el evento de la lista externa visualmente
		var height=$("#external-events").height();
		$("#external-events").height(height-35);
		$.ajax({
			type:"POST",
			url:"/asignacions/destroy",
			data:{id:id}
	    });
	}
}

function documentClick(ev)
{
	$(".seleccionado").css("border", "1px solid #3a87ad");
	$(".seleccionado").css("background-color", "#3a87ad");
	$(".fc-event").removeClass("seleccionado");
}

function moverEventoTmp(evento,copiar,diaId, funcionesEspeciales)
{
	//Eliminar evento del calendario, visualmente
	$.ajax({
		type:"POST",
	   	dataType:"json",
	   	url:"/asignacions/anadirListaExterna",
	   	data:{id:evento.id, copiar:copiar},
	   	success:function(response)
	   	{
	   		if(copiar==true)
	   		{
	   			evento.id=response.id;
	   			evento.operacion="copiar";
	   		}
	   		else
	   		{
	   			evento.operacion="cortar";
	   		}
	   		evento.dia_id=diaId;
	   		$.evento=evento;
	   		generarAnadirListaExterna(evento,copiar,funcionesEspeciales);
	   		makeDroppable();
	   	}
	   });	   		
}

function generarAnadirListaExterna(evento,copiar,funcionesEspeciales)
{
	var copiado="";
	$("#external-events .fc-event").removeClass("clipBoard");
	if(funcionesEspeciales==true)
	{
		copiado="clipBoard";
	}
	var elemento=$("<div class='fc-event ui-draggable ui-draggable-handle'></div>");
	elemento.addClass(copiado);
	var imagen=$("<input onClick=\"elimEventListaExt($(this).attr('id'),true);\" class='elEvento' type='image' style='position:absolute;right:0px;' src='/assets/borrar.png'/>");
	imagen.attr("id",evento.id);
	elemento.append(imagen);
	elemento.attr("title",evento.info);
	elemento.attr("id",evento.id);
	elemento.append(evento.title);
	var height=$("#external-events").height();
	$("#external-events").height(35+height);
	$("#external-events").append(elemento);
}

function eliminarListaExterna(id)
{
	var height=$("#external-events").height();
	$("#external-events").height(height-35);
	$("#external-events #"+id).remove();
}

function moverACalendario(id,actualTab)
{
	var evento;
	if(id!= undefined){
		$.ajax({
			type:"POST",
			dataType:"json",
			url:"/asignacions/pegar",
			data:{id:id,dia_id:actualTab},
			success:function(response)
			{
				eliminarListaExterna(id);
				$.evento={id:response.id,
			 	operacion:"pegar",
		 		title:response.titulo.replace(/%/g, "\r\n"),
		 		info:response.info.replace(/%/g, "\r\n"),
		 		allDay:false,
		 		room_id:response.laboratorio_id,
		 		start:response.horaini,
		 		end:response.horafin,
		 		dia_id:response.dia_id
		 	};
		 	$("#"+actualTab).fullCalendar("renderEvent",$.evento);
		}
	});
	}
}

function cortar(divId,evento)
{
	if(evento.id != undefined)
	{
		$("#external-events .fc-event").removeClass("clipBoard");
		var diaId = obtenerCalendarioActual();
		moverEventoTmp(evento,false,diaId,true);
		$("#external-events #"+evento.id).addClass("clipBoard");
		$("#"+divId).fullCalendar('removeEvents',evento.id);
		makeDroppable();
  }
}

function copiar(divId,evento)
{
	if(evento.id != undefined)
	{
		$("#external-events .fc-event").removeClass("clipBoard");
		var diaId = obtenerCalendarioActual();
		moverEventoTmp(evento,true,diaId,true);
		$("#external-events #"+evento.id).addClass("clipBoard");
		makeDroppable();
  }
}

function funcionesEspeciales(ev)
{
  var teclaZ=90, teclaX=88, teclaC=67,teclaV=86;
 
  var diaId = obtenerCalendarioActual(); //Sirve para distinguir entre el calendario de un dia o de otro
  var calendarioActivo= $("#tabs #"+diaId);	
  var eventObj=window.event? event: ev;
  if(eventObj.ctrlKey)
  {
  	var info=$(".seleccionado .fc-bg").attr("title");
  	var titulo=$(".seleccionado .fc-title").text();
  	var id=$(".seleccionado .fc-id").attr("data-id");
  	var evento={id:id,title:titulo,info:info};
  	switch(eventObj.keyCode)
  	{
  		case teclaZ:
  		deshacer();
  		break;
  		
  		case teclaX://id, info, title
  		cortar(diaId,evento);
  		break;

  		case teclaC:
  		copiar(diaId,evento);
  		break;

  		case teclaV:
  		var eventId= $("#external-events .clipBoard").attr("id");
  		moverACalendario(eventId,diaId);

  		break;

  	}
  }
}

function AreEventsOverlapped(event1, event2)
{	
	 event1.end = event1.start.clone();
	 event1.end.set('hour', event1.end.get('hour')+1);
	   
	 event2.end = event2.start.clone();
	 event2.end.set('hour', event2.end.get('hour')+1);
	 if((event1.room_id === event2.room_id) &&(event1.id !== event2.id)){
	 }
	var e1Start = event1.start.toDate().toTimeString().split(' ')[0];
	var e1End = event1.end.toDate().toTimeString().split(' ')[0];

	var e2Start = event2.start.toDate().toTimeString().split(' ')[0];
	var e2End = event2.end.toDate().toTimeString().split(' ')[0];

	return e1Start < e2End &&
	       e1End > e2Start &&
           event1.room_id === event2.room_id;
}

function GetConflictsForEventInCalendar(event,calendarId)
{
	var events = $("#"+calendarId).fullCalendar('clientEvents', function(evt) {
					    return AreEventsOverlapped(event, evt);
				});

	return events;
}

function CreateEmailForConflicts(emails, laboratorio)
{
    var subject = 'Conflicto%20en%20solicitudes%20de%20laboratorio%20' + laboratorio;
    var body = '';
    $("#eventContent, a").attr('href','mailto:' + emails + '?Subject=' + subject + '&body=' + body);
	$("#eventContent").dialog({ modal: true, title: 'Conflictos', width:200, height:75});
}


function OpenDialogToSendEmailForConflicts(event,calendarId)
{
	var events = GetConflictsForEventInCalendar(event,calendarId);

	//Check if there are overlapped events to display dialog
	if(events.length > 1)
	{
		var emails = '';
		var solicitudes = '';
		var laboratorio = '';
		events.forEach(function(item, index) {
			if(emails.indexOf(item.emailProfesor) >= 0)
			{
			    if(index > 0)
			    {
			        emails += ";" + item.emailProfesor; 
			    }
			    else
			    {
                     emails += item.emailProfesor; 
			    }
			}
			laboratorio = item.lab_nombre;
		});

        CreateEmailForConflicts(emails, laboratorio);
	}
}

$(function() 
{	
    $('body').on('contextmenu', function(e){ e.preventDefault(); });
	var minTime = '<%=@horainicio%>';
    var maxTime = '<%=@horafin%>';
	$.evento={};
	$(document).on("click",documentClick);
	document.onkeydown=funcionesEspeciales;
	$(".elEvento").click(function()
		{
			elimEventListaExt($(this).attr("id"),true);
		});
	$( "#external-events" ).droppable();

    $('#tabs').tabs({
       activate: function(event, ui) 
       {
          $("div.calendario").each(function(index, element)
          {  var divId =  $(element).attr("id");
             $('#'+divId).fullCalendar('render');
          });
       }
   });

   /* initialize the events -------------*/
	makeDroppable();

	var asignacions= '<%= raw @asignacions %>';
    var laboratorios= '<%= raw @laboratorios %>';
    asignacions=asignacions.replace(/%/g, "\\n");
    laboratorios=laboratorios.replace(/%/g, "\\n");
    laboratorios=laboratorios.replace(/nombre_lab/g,"name");
    laboratorios=laboratorios.replace(/=>/g, ":");
    asignacions=asignacions.replace(/=>/g, ":");
    /* initialize the calendar */
    $("div.calendario").each(function(index, element)
    {
      var divId =  $(element).attr("id");

      $("#"+divId).fullCalendar
      ({
        header: { left: '', center: 'title', right: '' },
        slotDuration: '00:15:00',
        minTime: '<%=@horainicio%>',
        maxTime: '<%=@horafin%>',
        allDaySlot:false,
        defaultDate: '2014-09-12',
        defaultView:'agendaWeek',
        editable: true,
        droppable: true,
        //contentHeight: 'auto',
        eventDurationEditable: false,
        eventStartEditable: true,
        disableResizing: true,
        defaultTimedEventDuration: '01:00:00',
        drop: function(date, jsEvent, ui, selectedRoom) 
        {
            event.id= $(this).attr("id");
        	event.start= date;
        	event.end= date.add(1,'hours');
        	event.start.add(-1,'hours');
        	event.room_id=selectedRoom;
       
        	 event.operacion="pegar";
             updateEventCalendar(event);
        	 $(this).remove(); //elimina el evento de la lista externa visualmente
        	 var height=$("#external-events").height();
	   		 $("#external-events").height(height-35);
		},
        eventLimit: true, //allow "more" link when too many events
        events: filterEventsByDay(asignacions,divId), //load events
        axisFormat: 'H(:mm)', 
        timeFormat: 'H(:mm)',
        rooms:$.parseJSON(laboratorios),
        eventRender: function(event, element) {
            var conflicts = GetConflictsForEventInCalendar(event,divId);
			if(conflicts.length > 1){
				element.css({"border-color":"red","border-width":"2px", "border-style":"solid"});
			}
            element.attr('title', event.info);

            element.bind('mousedown', function (e) {

                //detects right click
	            if (e.which == 3) 
	            {
					OpenDialogToSendEmailForConflicts(event,divId);
	            }
            });
        },
	    eventDrop: function(event, delta, revertFunc)
	    {
	    	var dateMaxTime;
	    	var dateMinTime =  new Date(event.start.toDate().getTime());
	    	if(event.end === null){
	    		event.end = event.start.clone();
	    		event.end.set('hour', event.end.get('hour')+1);
	    	}

	    	dateMaxTime = new Date(event.end.toDate().getTime());

	    	dateMaxTime.setHours(maxTime.split(':')[0]);
	    	dateMaxTime.setMinutes(maxTime.split(':')[1]);
	    	dateMaxTime = new Date(dateMaxTime.getTime() + (-dateMaxTime.getTimezoneOffset() * 60000));

	    	dateMinTime.setHours(minTime.split(':')[0]);
	   		dateMinTime.setMinutes(minTime.split(':')[1]);
	   		dateMinTime = new Date(dateMinTime.getTime() + (-dateMinTime.getTimezoneOffset() * 60000));

            
   	    	if (event.start.toDate() < dateMinTime){
				event.start.set('hour',dateMinTime.getHours()+(dateMaxTime.getTimezoneOffset()/60));
				event.start.set('minute',dateMinTime.getMinutes());
				event.end.set('hour',dateMinTime.getHours()+1+(dateMaxTime.getTimezoneOffset()/60));
				event.end.set('minute',dateMinTime.getMinutes());
	    	}
	    	if ((event.end.toDate() > dateMaxTime)||(event.end.get('hour')===22)){
				event.start.set('hour',dateMaxTime.getHours()-1+(dateMaxTime.getTimezoneOffset()/60));
				event.start.set('minute',dateMaxTime.getMinutes());
				event.end.set('hour',dateMaxTime.getHours()+(dateMaxTime.getTimezoneOffset()/60));
				event.end.set('minute',dateMaxTime.getMinutes());
	    	}
		    	event.operacion="";
		    	updateEventCalendar(event);
	    },
	    eventDragStop: function(event, jsEvent, ui, view) 
	    {
	        //Move event from calendar to external list
		   	if(isElemOverDiv(jsEvent,'#external-events'))
		   	{
		   		event.operacion="cortar";
		   		var diaId = obtenerCalendarioActual();
		   		moverEventoTmp(event,false,diaId,false);
		   		$("#"+divId).fullCalendar('removeEvents',event.id);
		   	}
	   },
       eventClick: function(event)
       {
       	     $(".seleccionado").css("border", "1px solid #3a87ad");
	         $(".seleccionado").css("background-color", "#3a87ad");
       	     $(".fc-event").removeClass("seleccionado");
       	     $(this).addClass("seleccionado");
       	     $(".seleccionado").css("border-style", "dashed");
       	     $(".seleccionado").css("background-color", "#6F8");
       	     return false;
        },

     });
 });


 $("#cargando").hide(); 
 $('#grabarBtn').click(function () 
 { 
       $("#cargando").show();
       $.ajax({
                 dataType:"json",
                 type: "POST",
                 url: '/asignacions/grabar_asignacion',
                 success: function(data, textStatus)
                 {
                    $("#cargando").hide();
                    alert(data.msg);
                    location.reload();
                 },
                 error: function(data, textStatus)
                 {
                     $("#cargando").hide();
                     var error = data.responseJSON.msg
                     alert(error);
                 }
            });
  });

 });

</script>

<style>

	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}
		
	#wrap {
		margin: 0 auto;
	}
		
	#external-events {
		float: center;
		width: 30px;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
		line-height: 2;
	}

	#dropMenu p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#tabs { /*debe sustituirse por otro tabs que hay en otra hoja css*/
		float: right;
		width: 900px;
	}
</style>

<div id="eventContent" title="Event Details" style="display:none;">
    <a href='#' style="text-decoration:underline;color:blue;" target="_blank">Enviar email</a>
</div>

<table>
<tr>
	<td valign="top">
      <table id="asignacionsTable">
        <tr><td align="center" valign="middle"><button id="grabarBtn">Grabar asignaciones</button></td>
        </tr>
        <tr><div id="cargando" style="text-align:center">
                 <%=image_tag("ajax-loader.gif",:border=>0) %>
            </div>
        </tr>
        <tr><td><br/></td></tr>
        <tr ><td align="center" valign="middle"><h4>Asignaciones temporales</h4></td></tr>
        <tr>
          <td align="center" valign="middle">
            <div id='external-events' style="height:<%= 35+35*@asignacionsListaExterna.size %>px;">
		    <% for asignacion in @asignacionsListaExterna %>
		    <%  info=asignacion[:info].to_s
			    info.gsub!('%',"&#13;&#10")%>
			    <div class="fc-event ui-draggable ui-draggable-handle" title="<%= asignacion[:info].to_s.html_safe %>"  id="<%= asignacion [:id] %>">
			    	<input class="elEvento" type="image" style='position:absolute;right:0px;' id="<%= asignacion [:id] %>" src='/assets/borrar.png'/>
			    	<%=asignacion[:asignatura].to_s %></div>
		    <% end %> 
			<!--Meter las asignaciones que están en la lista externa, pero cómo saber cuáles son?-->
            </div>
         </td>
      </tr>
      <tr><td><br/></td></tr>
    </table>

    </td>
      <td><div id="wrap">
      <div id="tabs">
	       <ul id="diasSemana">
	       <% for dia in @dias %>
	          <li><a href="#<%=dia.id%>"><%=dia.nombre%></a></li>
	       <%end%>
	       </ul>
	       <% for dia in @dias %>
	          <div class="calendario" id="<%=dia.id%>"></div>
	       <%end%>
      </div>
    </div></td>
</tr>
</table>
