<script type="text/javascript">


function makeDroppable()
{	$('#external-events .fc-event').each(function() {

//alert($.trim($(this).attr("generica")));
		// store data so the calendar knows to render an event upon drop
		var info= $.trim($(this).attr("title")).replace(/%/g, "\\n");
		$(this).data('event', {
			info: info,
			generic: $.trim($(this).attr("data-generic")),
			id: $.trim($(this).attr("id")),
			color: '#66FF33',
			title: $.trim($(this).text()), // use the element's text as the event title
			stick: true // maintain when user navigates (see docs on the renderEvent method)
		});

		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});


	});
}

function filterEventsByDay(eventsList,day)
{
         var data = $.parseJSON(eventsList);
         var returnedData = $.grep(data, function(dt) 
         {
             return dt.dia_id == day;
         });

         return returnedData;
};

function updateEvent(event)
{
   var active = $('#tabs .ui-state-active').children("a");
   var dia_id = active.attr("href").substring(1);
   var horafin;
   var horaini = event.start.hours()+":"+event.start.minutes();
   if(event.end == null)
   {
   	horafin=new Date(event.start.toDate());
   	//horafin.setHours(horafin.getHours()+2);
   	horafin = horafin.getHours()+":"+horafin.getMinutes();
   }
   else
   {
   	horafin = event.end.hours()+":"+event.end.minutes();
   }
   $.ajax({
	    type:"POST",
	   	url:"/asignacions/actualizar",
	   	data:{asigna:event.id, dia_id:dia_id ,horaini:horaini, horafin:horafin, lab_id:event.room_id},
	   	success:function(){}
	});	
};

	function isElemOverDiv(draggedItem, dropArea) 
   {
     // Prep coords for our two elements
	 var b = $(dropArea).offset();
	 b.right = $(dropArea).outerWidth() + b.left;
	 b.bottom = $(dropArea).outerHeight() + b.top;
     // Compare
     if (draggedItem.pageX >= b.left && draggedItem.pageX<= b.right &&
         draggedItem.pageY>= b.top && draggedItem.pageY <= b.bottom){return true;}
     return false;
   }

   function getEventInfo(event)
   {
      //Obtener la ocupación del laboratorio para dicho evento
      var ocupacion = " "                           

      if (event.tipo == "T")
      {
          ocupacion = "Todo el período"
      }
      else if (event.tipo == "I")
      {
          ocupacion = "Del " + event.fechaIniSol + " al " + event.fechaFinSol

      }else if (event.tipo == "X")

      {
          ocupacion = "Asignación directa - Del " + event.fechaIniSol + " al " + event.fechaFinSol
      }else
      {
          ocupacion = "Puntual-" + event.fechaIniSol
      }

      var info = "Puestos: " + event.puestos + "\nProfesor: " + event.profesor +
                 "\nSoft: " + event.comentarios + "\nOcupación: " + ocupacion;

      //Si la reserva no es genérica, necesitamos añadir la información de la asignatura

      if(!event.generica || event.generica == 'false')
      {
         var AsigInfo="Asig: " +event.title+"(" +event.titulacion + ")\nCurso: " + event.curso + "\n";
         info = AsigInfo + info;
      }
      else
      {
         info = "Reserva genérica\n"+info;
      }
      return info;   
   }

$(function() 
{	
	$( "#external-events" ).droppable();
      
    $( "#borrarAsig" ).droppable();
    /*$(".fc-event").mouseover(function()
    	{
    		var info=$(this).attr("title");
    		$(this).attr('title',info);
    		//alert($(this).attr("title"));
    		//alert();
    	});*/
    $('#tabs').tabs({
       activate: function(event, ui) 
       {
          $("div.calendario").each(function(index, element)
          {  var divId =  $(element).attr("id");
             $('#'+divId).fullCalendar('render');
          });
       }
   });

   /* initialize the events -------------*/
	//makeDraggable();
	makeDroppable();

	var asignacions= '<%= raw @asignacions %>';
    var laboratorios= '<%= raw @laboratorios %>';
    asignacions=asignacions.replace(/%/g, "\\n");
    laboratorios=laboratorios.replace(/nombre_lab/g,"name");
    laboratorios=laboratorios.replace(/especial/g,"special");
    laboratorios=laboratorios.replace(/puestos/g,"size");
    laboratorios=laboratorios.replace(/=>/g, ":");
    asignacions=asignacions.replace(/=>/g, ":");
	 
    /* initialize the calendar */
    $("div.calendario").each(function(index, element)
    {
      var divId =  $(element).attr("id");

      $("#"+divId).fullCalendar
      ({
        header: { left: '', center: 'title', right: '' },
        slotDuration: '00:15:00',
        minTime: '08:00:00',
        maxTime: '22:00:00',
        allDaySlot:false,
        defaultDate: '2014-09-12',
        defaultView:'agendaWeek',
        editable: true,
        droppable: true,
        drop: function(date, jsEvent, ui, selectedRoom) 
        { 
        	tmpDate= new Date(date);
        	//tmpDate.setHours(tmpDate.getHours()+2);
        	horafin = moment(tmpDate);
        	//horafin = horafin.getHours()+":"+horafin.getMinutes();
        	event={id: $(this).attr("id"),
        		   start:date,
        		   end:horafin,
        		   room_id:selectedRoom
        		  };
             updateEvent(event);
        	 $(this).remove(); //elimina el evento de la lista externa visualmente
        	 var height=$("#external-events").height();
	   		 $("#external-events").height(height-30);
			 var active = $('#tabs .ui-state-active').children("a");
             var dia_id = active.attr("href").substring(1);	
		},
        eventLimit: true, //allow "more" link when too many events
        events: filterEventsByDay(asignacions,divId), //load events
        rooms:$.parseJSON(laboratorios),
        eventMouseover: function(event,jsEvent)
        {
            info = event.info;
            $(jsEvent.target).attr('title',info);
	    },
	    eventResize: function(event)
	    {
            updateEvent(event);
            //ToDo: actualizar tabla peticionlabs tb
	    },
	    eventDrop: function(event)
	    {
             updateEvent(event);
             //ToDo: actualizar tabla peticionlabs tb
	    },
	    eventDragStop: function(event, jsEvent, ui, view) 
	    {
	   	   var active = $('#tabs .ui-state-active').children("a");
	   	   if (isElemOverDiv(jsEvent, '#borrarAsig')) {
	   	   	$(active.attr("href")).fullCalendar('removeEvents', event.id);
	   		$.ajax({
	   			type:"POST",
	   			url:"/asignacions/borranormalasignada",
	   			data:{asigna:event.id},
	   			success:function()
	   			{
	   			  //alert("La asignación ha sido eliminada de forma satisfactoria.");
	   			}
	   		});	
	   	}
         
        //Move event from calendar to external list
	   	if(isElemOverDiv(jsEvent,'#external-events'))
	   	{
	   		//alert(event.info);
	   		var elemento=$("<div class='fc-event ui-draggable ui-draggable-handle'></div>");
	   		elemento.attr("title",event.info);
	   		elemento.attr("id",event.id);
	   		elemento.attr("data-generic",event.generic);
	   		elemento.text(event.title);
	   		var height=$("#external-events").height();
	   		$("#external-events").height(30+height);
	   		$("#external-events").append(elemento);
	   		/*$("#external-events").append("<div class='fc-event ui-draggable ui-draggable-handle'  data-info="+event.info +" data-generic="+event.generic+" id="+event.id+">"+event.title+"</div>");*/

	   		makeDroppable();

	   		//Eliminar evento del calendario, visualmente
	   		$("#"+divId).fullCalendar('removeEvents',event.id);
	   		$.ajax({
	   			type:"POST",
	   			url:"/asignacions/anadirListaExterna",
	   			data:{id:event.id},

	   		});
	   		//Eliminar evento de la lista de asignacions pero no de la bbdd y dejarlo que permanezca
	   		//en la lista externa

	   	}
	   }/*,
       eventClick: function(event){

        	 alert(event.start.hours()+':'+event.start.minutes());
        	 alert(event.end.time());
             var r = confirm("Delete "+ event.title);
             if(r===true)
             {
             	$("#"+divId).fullCalendar('removeEvents',event.id);
             }
        },*/

        });

        //Función para mostrar información adicional sobre los laboratorios cuando el
        //ratón está encima de la columna de laboratorio
        $(".fc-day-header").mouseover(function(ev)
        {
            var labEspecial = ( $(this).attr("data-speciallab") == "true" ) ? 'Sí' : 'No';
            var labInfo = "Denominación: " + $(this).attr("data-ssoo") + "\nNum. puestos: " + $(this).attr("data-size") + "\nLab especial?: " + labEspecial; 
            $(this).attr('title',labInfo);
        });         

    });

 });

</script>

<style>
	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}
		
	#wrap {
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 30px;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	#dropMenu p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#tabs { /*debe sustituirse por otro tabs que hay en otra hoja css*/
		float: right;
		width: 900px;
	}
</style>
<table>
<tr>
	<td valign="top">
<table>
<tr><h4>Lista de asignaciones</h4></tr>
<tr><td><div id='external-events' style="height:<%= 30+30*@asignacionsListaExterna.size %>px">
		<% for asignacion in @asignacionsListaExterna %>
		<%  info=asignacion[:info].to_s
			info.gsub!('%',"&#13;&#10")%>
			<div class="fc-event ui-draggable ui-draggable-handle" title="<%= info.html_safe %>" data-generic="<%= asignacion[:generica].to_s %>" id="<%= asignacion [:id] %>"><%=asignacion[:asignatura].to_s %></div>
		<% end %> 
			<!--Meter las asignaciones que están en la lista externa, pero cómo saber cuáles son?-->
</div></td></tr>
<tr><td><%=image_tag("IconoBorrar.png", :id =>"borrarAsig", :border=>0,:height=>128,:width=>128)%></td></tr>
<tr><td> <div id="asignadirecta">
        <%= link_to 'Asignación directa','/asignacions/asigna_directa' %>
      </div></td></tr>
      <tr> <td> <span style="margin-left:40px;color:blue;"> 
         <%= link_to image_tag("iconoImpresora.png",:alt=>"Para imprimir",:height=>128,:width=>128), '/listado/asignacion_lectivo_impresa',{:target => "_blank" } %>
      </span></td></tr>
</table>
	

<!--<div id="dropMenu">
<p>
			  <input type='checkbox' id='drop-remove' />
			  <label for='drop-remove'>borrar después de mover</label>
			</p>
</div>-->

    </td>
      <td><div id="wrap">
      <div id="tabs">
	       <ul id="diasSemana">
	       <% for dia in @dias %>
	          <li><a href="#<%=dia.id%>"><%=dia.nombre%></a></li>
	       <%end%>
	       </ul>
	       <% for dia in @dias %>
	          <div class="calendario" id="<%=dia.id%>"></div>
	       <%end%>
</div>
</div></td>
</tr>
</table>

