<script type="text/javascript">


function makeDroppable()
{	$('#external-events .fc-event').each(function() {

		// store data so the calendar knows to render an event upon drop
		$(this).data('event', {
			id: $.trim($(this).attr("id")),
			title: $.trim($(this).text()), // use the element's text as the event title
			stick: true // maintain when user navigates (see docs on the renderEvent method)
		});

		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});


	});
}

function filterEventsByDay(eventsList,day)
{
         var data = $.parseJSON(eventsList);
         var returnedData = $.grep(data, function(dt) 
         {
             return dt.dayWeek == day;
         
         });

         return returnedData;
};

function makeDraggable()
	{

		$('#external-events .fc-event').each(function() {

		// store data so the calendar knows to render an event upon drop
		$(this).data('event', {
			id: $.trim($(this).attr("id")),
			title: $.trim($(this).text()), // use the element's text as the event title
			stick: true // maintain when user navigates (see docs on the renderEvent method)
		});

		// make the event draggable using jQuery UI
		$(this).draggable({
			zIndex: 999,
			revert: true,      // will cause the event to go back to its
			revertDuration: 0  //  original position after the drag
		});

	});
	}

	function isElemOverDiv(draggedItem, dropArea) 
   {
   // Prep coords for our two elements
	var b = $(dropArea).offset();
	b.right = $(dropArea).outerWidth() + b.left;
	b.bottom = $(dropArea).outerHeight() + b.top;
   // Compare
  if (draggedItem.pageX >= b.left && draggedItem.pageX<= b.right &&
    draggedItem.pageY>= b.top && draggedItem.pageY <= b.bottom){return true;}
   return false;
}

$(function() 
{
	
   

	$( "#external-events" ).droppable();
      
    $( "#borrarAsig" ).droppable(
		//{
      //drop: function( event, ui ) {
      //	alert("A");
        //$( this )
         // .addClass( "ui-state-highlight" )
          //.find( "p" )
           // .html( "Dropped!" );
      //}}
      );


    $('#tabs').tabs({
       activate: function(event, ui) 
       {
          $("div.calendario").each(function(index, element)
          {  var divId =  $(element).attr("id");
             $('#'+divId).fullCalendar('render');
          });
       }
   });

   /* initialize the events -------------*/
	makeDraggable();
	makeDroppable();

	var asignacions= '<%= raw @asignacions %>';
    var laboratorios= '<%= raw @laboratorios %>';
    laboratorios=laboratorios.replace(/nombre_lab/g,"name");
    laboratorios=laboratorios.replace(/=>/g, ":");
    asignacions=asignacions.replace(/=>/g, ":");
	 
    /* initialize the calendar */
    $("div.calendario").each(function(index, element)
    {
      var divId =  $(element).attr("id");


      $("#"+divId).fullCalendar({
        header: { left: '', center: 'title', right: '' },
        allDaySlot:false,
        defaultDate: '2014-09-12',
        defaultView:'agendaWeek',
        editable: true,
        droppable: true,
        drop: function(date, jsEvent, ui, selectedRoom) { 
        	//alert("Holaaa");
              //  alert("Room: "+selectedRoom.name);
                //alert("Start = "+date.hours()+':'+date.minutes());

                // is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) 
				{
					// if so, remove the element from the "Draggable Events" list
				//	$(this).remove();
				}
			},
            eventLimit: true, //allow "more" link when too many events
            events: filterEventsByDay(asignacions,divId), //carga de eventos
            rooms:$.parseJSON(laboratorios),
		    eventMouseover: function(event,jsEvent){
                  $(jsEvent.target).attr('title',event.title);
		    },
		    eventDrop: function(event)
		    {
		    	//alert(event.room_id+" "+event.start);
		    },
		    eventDragStop: function(event, jsEvent, ui, view) {
		   	   var active = $('#tabs .ui-state-active').children("a");
		   	 //  alert(event.room_id);
		   	   if (isElemOverDiv(jsEvent, '#borrarAsig')) {
		   	   	$(active.attr("href")).fullCalendar('removeEvents', event.id);
		   		$.ajax({
		   			type:"POST",
		   			url:"/asignacions/borranormalasignada",
		   			data:{asigna:event.id},
		   			success:function()
		   			{
		   			  //alert("La asignación ha sido eliminada de forma satisfactoria.");
		   			}
		   		});	
		   	}
             
            //Move event from calendar to external list
		   	if(isElemOverDiv(jsEvent,'#external-events'))
		   	{
		   		$("#external-events").append("<div class='fc-event ui-draggable ui-draggable-handle' id='id6'>"+event.title+"</div>");
		   		makeDraggable();
		   		//ToDo:Borrar de la vista y de la base de datos
		   	}
		   },
           eventClick: function(event){

            	 alert(event.start.hours()+':'+event.start.minutes());
            	 alert(event.end.time());
                 var r = confirm("Delete "+ event.title);
                 if(r===true)
                 {
                 	$("#"+divId).fullCalendar('removeEvents',event.id);
                 }
            },

          });
    });


 });

</script>

<style>
	body {
		margin-top: 40px;
		text-align: center;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	}
		
	#wrap {
		width: 1100px;
		margin: 0 auto;
	}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
	}
		
	#external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}

	#dropMenu p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
	}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
	}

	#tabs { /*debe sustituirse por otro tabs que hay en otra hoja css*/
		float: right;
		width: 900px;
	}
</style>

<div id="wrap">
	<%=image_tag("borrar.png", :id =>"borrarAsig", :border=>0,:height=>150,:width=>150)%>
<div id='external-events'>
			<h4>Lista de asignaciones</h4>
			<div class='fc-event' id="id1">Asignacion 1</div>
			<div class='fc-event' id="id2">Asignacion 2</div>
			<div class='fc-event' id="id3">Asignacion 3</div>
			<div class='fc-event' id="id4">Asignacion 4</div>
			<div class='fc-event' id="id5">Asignacion 5</div>
			
		
</div>
<div id="dropMenu">
<p>
			  <input type='checkbox' id='drop-remove' />
			  <label for='drop-remove'>borrar después de mover</label>
			</p>
</div>
<div id="tabs">
	       <ul id="diasSemana">
	       <% for dia in @dias %>
	          <li><a href="#<%=dia.nombre%>"><%=dia.nombre%></a></li>
	       <%end%>
	       </ul>
	       <% for dia in @dias %>
	          <div class="calendario" id="<%=dia.nombre%>"></div>
	       <%end%>
</div>
</div>