<div id="central" >
     <p>GESTOR DE RECURSOS<br/>
        <%= image_tag ("pointer.gif") %>Asignaci&oacute;n de laboratorios: Asignaci&oacute;n directa
     </p>

     <div id="recuadro">
       <p><%= image_tag ("bg_separ.gif") %></p>
        <div id="recuadro-azul" style="height:600px">
          <%= form_for @asignacion,:url => '/asignaciondefs/graba', :action=>"graba",  :html=> {:name => "formulario"} do |f| %>
          <dl>
            
            <table id="tipo_reserva">
              <tr>
                <td><%= f.radio_button :generica,"ReservaNormal", :checked => !@asignacion.generica%></td>
                <td><%= label :generica_no, "Reserva normal"%></td>
                <td><%= f.radio_button :generica,"ReservaGenerica", :checked => @asignacion.generica %></td>
                <td><%= label :generica_si, "Reserva genérica"%></td>
              </tr>
            </table><br><br>

            <dt>Fecha solicitud</dt>
            <dd><%= @asignacion.solicitudlab.fechasol.strftime("%d-%m-%Y")%></dd>

            <dt>Usuario *</dt>
            <dd>
                <%= select "usuario", "identificador", @usuarios.map {|u| [u.apellidos+", "+u.nombre,u.id]},
                              html_options={:selected=>@asignacion.solicitudlab.usuario_id } %>
            </dd>
          
            <div id="infoAsig">
              <dt>Titulaci&oacute;n *</dt>
              <dd id="combo_titulacion">
                  <%= select "titulacion", "titulacion_id", @titulaciones.map {|t| [t.nombre,t.id]}, 
                      html_options={:selected=>@asignacion.solicitudlab.asignatura.titulacion_id } %>
              </dd>

              <dt>Curso *</dt>
              <dd id="combo_nivel">
              <%= select_tag "nivel", options_for_select(Asignatura::CURSO.each_with_index.map{|x,i|[x,i]},@asignacion.solicitudlab.asignatura.curso)%>
              </dd>

  	          <dt>Asignatura *</dt>    
              <dd><SPAN id="combo_asignatura">
                                  <%= select "asignatura", "id", @asignaturas.map {|t| [t.nombre_asig,t.id]}, 
                      html_options={:selected=>@asignacion.solicitudlab.asignatura.id } %>
                  </span><dd>
              </dd>
            </div>

            <dt>Laboratorio *</dt>
            <dd>                                             
                <%= select "laboratorio", "laboratorio_id", @laboratorios.map {|l| [l.nombre_lab, l.id]}, 
                    html_options={:selected=>@asignacion.laboratorio_id } %>
            </dd>  

            <dt>Fecha inicio *</dt>
            <dd>
              <%= f.text_field :fechaini, :size=>12, :name=>"fechaini",  :id=>"DPC_fechaini_DD-MM-YYYY", 
                  :value=>@asignacion.solicitudlab.fechaini.strftime('%d-%m-%Y') %></dd>
            <dt>Fecha fin *</dt>
            <dd><%= f.text_field :fechafin, :size=>12, :name=>"fechafin", :id=>"DPC_fechafin_DD-MM-YYYY",
                  :value=>@asignacion.solicitudlab.fechafin.strftime('%d-%m-%Y')  %>  </dd>
            <dt>Soft. requerido</dt>
            <dd><%= f.text_area :comentarios, :rows =>4, :cols=>40, :name=>"comentarios", :value =>@asignacion.solicitudlab.comentarios  %></dd>
            
           <dt>Tramos horarios *</dt>
           <dd><table>
                <tr> 
                  <td id="subform"><!-- los tramos a visualizar -->
                    
                    <table id="tramos">
                      <% if @tramos.empty? %>
                        <tr><td><%= "Introduzca tramos horarios" %></td></tr>
                      <% else %>
                        <%=render(:partial => "solicitudlabs/muestra_tramo", :collection=> @tramos) %> 
                      <% end %>
                    </table></td>
                  <td><a onclick='mostrardiv("subformulario")'>
                            <%= image_tag("reloj.jpg",:border=>0) %></a></td>
                 </tr>
                 <tr height=10></tr>
                 <tr>
                   <td>
                     <table id="subformulario" style="visibility:hidden"><!-- subformulario para anadir tramo horario -->
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                          <th width=60></th>
                          <th width=60></th>
                          <th width=60></th>
                          <th style="align:left"><%=image_tag("icon_close.png",:border=>0,
                               :onclick=>'ocultardiv("subformulario")')%></th>
                       </tr>
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                          <th width=60>Dia semana</th>
                          <th width=60>Hora inicio </th>
                          <th width=60>Hora fin </th>
                          <th></th>
                       </tr>
                       <tr valign="top" halign=center>
                          <td width=60><% @dias=Dia.where('en_uso=?',"t").to_a %>
                                       <%= select  "diasemana","nombre", @dias.map {|d| [d.nombre] }%></td> 
                          <td width=60><% @horas=Horario.where('en_uso=?',"t").to_a %>
                                       <%= select "horaini", "comienzo", @horas.map {|h| [h.comienzo] }%></td>
                          <td width=60><%= select "horafin", "fin", @horas.map {|h| [h.fin] }%></td>
                          <td width=15>
                              <%= link_to(image_tag("mas.png",:border=>0), "#", :id => "anadirLink") %>
                          </td>
                        </tr>
                      </table><!-- de subformulario --></td>
                 </tr>
                </table></dd><!-- de tramos horarios -->
               <p>
                     <%= f.submit "Asignar",:id=>"asignar" %>
               </p>
          </dl>  
        </div><!-- de recuadro-azul -->
        <div id="errores">
             <%= f.error_messages :header_message => 'Se produjeron errores en la captura de datos', 
                  :message => 'Imposible crear una nueva asignacion de laboratorio:'%>
             <% if flash.now[:notice] %>
                <div id="errorExplanation">
                  <p>Imposible crear una nueva asignacion de laboratorio:</p>
                  <ul><li><%=flash.now[:notice]%></li></ul>
                </div>
             <% end %>
         </div>
        <% end %><!-- de form_for -->
     </div><!-- de recuadro -->
</div><!-- de central -->

<script type="text/javascript" charset="utf-8">
function checkReservaGenerica()
{
  var reservaGenerica=$("#asignaciondef_generica_reservagenerica").attr("checked");

  if(reservaGenerica=="checked")
  {
    $("#infoAsig").hide();
  }
}

$(function(){
  checkReservaGenerica();
  $("#titulacion_titulacion_id").combobox();
  $("#titulacion_titulacion_id").change(function()
{
  var nivel=$("#nivel").val();
  var titulacion=$("#titulacion_titulacion_id").val();
  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:"/asignaturas/combo_por_titulacion",
           data:{combo_nivel:nivel,titulacion:titulacion}
        });
});

$("#nivel").change(function()
{
  var titulacion=$("#titulacion_titulacion_id").val();
  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:"/asignaturas/combo_por_nivel",
           data:{combo_nivel:$("#nivel").val(),titulacion:titulacion}
        });
});

$("#anadirLink").click(function()
{
  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:"/solicitar/anadir",
           data:{diasemana_nombre:$("#diasemana_nombre").val(), horafin_fin:$("#horafin_fin").val(), 
                 horaini_comienzo:$("#horaini_comienzo").val()},
           success: function()
           {
                mostrardiv("asignar");
           }
        });
   });

$("#asignaciondef_generica_reservagenerica").change(function()
{
    $("#infoAsig").hide();
});

$("#asignaciondef_generica_reservanormal").change(function()
{
    $("#infoAsig").show();
});


});


</script>
