<p style="position:absolute;left:180px;top:104px">Nº reservas: <%=@cuenta %></p>
<% if @cuenta!=0 %>

    <table style="margin-left:950px; margin-top:-20px;">
      <tr>   
        <td><%= link_to image_tag("limpiar.png",:border=>0,:width=>32,:height=>32),"#",id:"linkBorraReservas"%></td>
        <td style="color:#010080;font-size:0.9em">Eliminar todas<br/>las reservas</td>
      </tr>
    </table>

    <table>
      <tr>
       <th> </th>
       <th class="cien">Fecha reserva</th>  
       <th class="doscientos">Usuario</th>
       <th class="doscientoscincuenta">Recurso</th>
       <th class="cien">Dia reservado</th>
       <th class="cientocincuenta">Tramo horario</th>
       <th class="doscientos">Motivos</th>
      </tr>

      <% @solicitudrecursos.each do |i| %>
      <tr valign="top" class="<%=cycle('linea-impar','linea-par') %>">
        <td class="icono"><%= link_to image_tag("Editar.png", :border=>0),  edit_solicitudrecurso_path(i) %></td> 
        <td><%= i.fechasol.strftime("%d-%m-%Y")  %></td>  
        <td><% usuario=Usuario.find(i.usuario_id) %><%= usuario.nombre+" "+usuario.apellidos %></td>
        <td><% familia=Recurso.find_by_identificador(i.tipo) %><%= familia.descripcion+" : "+i.tipo %></td>
        <td><%= i.fechareserva.strftime("%d-%m-%Y")  %></td>
        <td style="text-align:center"><%= i.horaini+"-"+i.horafin %></td>
        <td class="cientocincuenta"><%= i.motivos %></td>
        <td class="icono"><%= link_to image_tag("borrar.png", :border=>0), i, 
                             data:{ confirm: '¿Seguro que desea eliminar la reserva?'}, :method => :delete %></td> 
      </tr>
      <% end %><!-- de @solicitudrecursos.each -->
    </table>
<% end %><!-- de @cuenta!=0 -->  

<script type="text/javascript">

$(function()
{
  $("#linkBorraReservas").click(function()
    {
      var url="/solicitudrecursos/borrar_reservas";
      var mensaje="Ésto eliminará todo el registro de reservas. ¿Está seguro?";
      if(confirm(mensaje))
      {
      $.ajax({
        type:"POST",
        url:url
      });
    }
    });
});

</script>


