<% nsol=Solicitudlab.all.size %>
<% nsolexa=Solicitudlabexa.all.size %>
<% nasig=Asignacion.all.size %>
<% nasigdef=Asignaciondef.all.size %>
<% nasignacionexa=Asignacionlabexa.all.size %>
<% nasignacionexadef=Asignacionlabexadef.all.size %>
<% total=nsol+nsolexa+nasig+nasigdef+nasignacionexa+nasignacionexadef %>



<div id="central" >
   <p>GESTOR DE RECURSOS<br/> 
      <%= image_tag ("pointer.gif") %>Gesti&oacute;n de archivos: Titulaciones
   </p>
   <div id="recuadro">
     <div id="lista-gestion">
        <p><%= image_tag ("bg_separ.gif") %></p>
        <table>
         <tr>
           <th class="icono"> </th>
           <th class="cincuenta">C&oacute;digo</th>
           <th class="doscientoscincuenta">Nombre</th>
           <th class="cientocincuenta">Abreviatura</th>
           <th class="icono"> </th>
         </tr>
         <% for titulacion in @titulacions %>
         <tr valign="top" class="<%=cycle('linea-impar','linea-par') %>">
           <td class="icono"><%= link_to image_tag("Editar.png", :border=>0), edit_titulacion_path(titulacion) %></td>
           <td style="text-align:right"><%=h titulacion.codigo %></td>
           <td><%=h titulacion.nombre %></td>
           <td><%=h titulacion.abrevia %></td> 
           <td class="icono">
           <% asignaturas=Asignatura.find_all_by_titulacion_id(titulacion.id).size %>
           <% if total==0 and asignaturas==0 %>
             <%= link_to image_tag("borrar.png", :border=>0), titulacion, 
             :confirm => 'Seguro que desea eliminar eliminar '+titulacion.nombre+'?', :method => :delete %>
           <% end %></td> 
         </tr>
         <% end %><!-- de for titulacion -->
         </table>
     </div><!-- de lista-gestion -->
     <br/>
     <% form_tag new_titulacion_path, :method=>:get do -%>
         <%= submit_tag "Nueva titulacion", :class=>"botonindex" %>
     <% end -%>
   </div><!-- de recuadro -->
</div><!-- de central -->
