
<div id="central" >
  <p>GESTOR DE RECURSOS<br>
     <%= image_tag ("pointer.gif") %>Asignaci&oacute;n general de laboratorios en periodo de ex&aacute;menes
  </p>
  <div id="recuadro">  
    <p><%= image_tag ("bg_separ.gif") %></p>
       <% activo=Periodo.where("activo = ? and tipo= ?","t","Examenes").order("inicio desc").to_a %>
       <% nasig=Asignacionlabexadef.all.size %>
       <% if activo.size>0 and nasig>0 %>
       <div id="busqueda">
        <table>
          <tr>
           <td><%= image_tag("search.png") %></td>
           <td>Buscar  : 
           <td><%= text_field_tag "query" %>
          </tr>
        </table>
        
       </div>
           
           <div id="cuadrante2"><%= render :partial => "cuadrante2" %></div> 
       <% else %>
            <div class="aviso">
               <p>No hay ninguna asignaci&oacute;n vigente de periodo de ex&aacute;menes</p>
               <p>Para cualquier consulta: tecnicos@lcc.uma.es</p>
            </div>  
        <% end %>  
  </div>
</div>

<script type="text/javascript" charset="utf-8">

$(function(){
  $("#query").keyup(function()
{

 var jqueryVal=$("#query").val();
 var url="listar";
  $.ajax({
  beforeSend:function(xhr)
{
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
},

    type:"POST",
    url:url,
    data:{query:jqueryVal}
});
});

});
</script>

