<div id="central" >
  <p>GESTOR DE RECURSOS<br>
  <%= image_tag ("pointer.gif") %>Asignaciones de laboratorios
  <div id="recuadro">

  <div id="lista-gestion">
   <p><%= image_tag ("bg_separ.gif") %>
   <% periodos=Periodo.where('activo = ? and tipo = ?',"t","Examenes").to_a %>

   <% if periodos.size!=0 %><!-- si se esta en un periodo de asignaciones activadas -->
    <div id="nom_periodo"><%= periodos.first.nombre %></div>

    <% if @asignacions.size!=0 %>
       
    <table>
    <tr>
     
     <th class="cientocincuenta">Asignatura</th>
     <th class="cien">Grupo</th>
     <th class="cien">D&iacute;a</th>
     <th class="cientocincuenta">Tramo horario</th>
     <th class="cien">Laboratorio</th>
     <th class="doscientos">Aviso usuarios</th>
     <th class="doscientoscincuenta">Cambios de dia/hora</th>
    </tr>
    <% asignacion_ant=Asignacion.new %>
    <% for asignacion in @asignacions %>
      
     <% if !(asignacion.solicitudlab_id==asignacion_ant.solicitudlab_id) %> 
            <% clase=cycle('linea-impar','linea-par') %>
            <tr valign="top" class="<%=clase %>">        
             
             <td><% id=asignacion.solicitudlab.asignatura_id %><% asig=Asignatura.find(id) %>
             <%= "<a onmouseover=ShowContent('asignatura"+id.to_s+"'); return true;
   			   onmouseout=HideContent('asignatura"+id.to_s+"'); return true;>" %>
                           <%= "<div id=asignatura"+id.to_s %> 
				style='display:none;position:absolute;
      					border-style: solid;
      					background-color: white;width:200px;
      					padding: 5px;';>
                                        <%= asig.nombre_asig %><br/>
                                        <%= asig.titulacion.abrevia %>
			    </div>
                 <%= asignacion.solicitudlab.asignatura.abrevia_asig %></td>
             <td><%= asignacion.solicitudlab.curso %></td> 
             <td><%= asignacion.dia.nombre %></td>
             <td><%= asignacion.horaini+'-'+asignacion.horafin %></td>
             <td style="text-align:center"><%= asignacion.laboratorio.nombre_lab %></td>
             <td><%= asignacion.laboratorio.aviso %></td>
             <td><%= asignacion.mov_dia.to_s+asignacion.mov_hora.to_s %></td>
            </tr>
     <% else %>
           <% if !(asignacion.peticionlab_id==asignacion_ant.peticionlab_id   or
           asignacion.laboratorio_id==asignacion_ant.laboratorio_id or asignacion.dia_id==asignacion_ant.dia_id) %>
             <tr valign="top" class="<%=clase %>">        
             <td></td>
             <td></td> 
             <td><%= asignacion.dia.nombre %></td>
             <td><%= asignacion.horaini+'-'+asignacion.horafin %></td>
             <% if asignacion.laboratorio.id!=asignacion_ant.laboratorio.id %>
               <td style="text-align:center">
                 <%= asignacion.laboratorio.nombre_lab %></td>
               <td><%= asignacion.laboratorio.aviso %></td>
               <td><%= asignacion.mov_dia.to_s+asignacion.mov_hora.to_s %></td>
             <% end %>
            </tr>  
           <% else %>
            <tr valign="top" class="<%=clase %>">
             <td></td>
             <td></td> 
             <td></td>
             <td><%= asignacion.horaini+'-'+asignacion.horafin %></td>
             <% if asignacion.laboratorio.id!=asignacion_ant.laboratorio.id %>
                <td style="text-align:center">
                    <%= asignacion.laboratorio.nombre_lab %></td>
                <td><%= asignacion.laboratorio.aviso %></td>
                <td><%= asignacion.mov_dia.to_s+asignacion.mov_hora.to_s %></td>
             <% else %>
               <td></td>
               <td></td>
               <td></td>
             <% end %>
            </tr>
           <% end %>
     <% end %>           
     <% asignacion_ant=asignacion %>
    
    <% end %>
    </table>
   
<% else %>
  <div id="inactivo"> 
     Actualmente no tiene ninguna asignaci&oacute;n activa<br/>
     Si tiene alg&uacute;n problema, p&oacute;ngase en contacto con el administrador
  </div>
<% end %>
<% else %>
<div id="inactivo">  
     <p>No están disponibles las asignaciones<p/>
     <p>Para cualquier consulta, p&oacute;ngase en contacto con el administrador</p>
  </div>
<% end %>
</div></div></div>
