<div id="central" >
     <p>GESTOR DE RECURSOS<br/>
        <%= image_tag ("pointer.gif") %>Asignaci&oacute;n de laboratorios: Asignaci&oacute;n directa
     </p>

     <div id="recuadro">
       <p><%= image_tag ("bg_separ.gif") %></p>
        <div id="recuadro-azul" style="height:400px">
          <%= form_for @asignacionexa,:url => '/asignacionexadefs/graba', :action=>"graba",  :html=> {:name => "formulario"} do |f| %>
          <dl>

            <dt>Fecha solicitud</dt>
            <dd><%= @asignacionexa.solicitudlabexa.fechasol.strftime("%d-%m-%Y")%></dd>

            <dt>Usuario *</dt>
            <dd><%= select "usuario", "identificador", @usuarios.map {|u| [u.apellidos+", "+u.nombre,u.id]},
                              html_options={:selected=>@asignacionexa.solicitudlabexa.usuario_id } %>
            </dd>

            <dt>Titulaci&oacute;n *</dt>
            <dd id="combo_titulacion">
               <%= select "titulacion", "titulacion_id", @titulaciones.map {|t| [t.nombre,t.id]}, html_options={:selected=>(@asignacionexa.solicitudlabexa.asignatura.titulacion_id unless @asignacionexa.solicitudlabexa.asignatura.nil?) } %></dd>

            <dt>Curso *</dt>
            <dd id="combo_nivel"><%= select_tag "nivel", options_for_select(Asignatura::CURSO.each_with_index.map{|x,i|[x,i]},(@asignacionexa.solicitudlabexa.asignatura.curso unless @asignacionexa.solicitudlabexa.asignatura.nil?))%></dd>

	          <dt>Asignatura *</dt>    
            <dd><SPAN id="combo_asignatura">
                <%= select "asignatura", "id", @asignaturas.map {|t| [t.nombre_asig,t.id]}, html_options={:selected=>@asignacionexa.solicitudlabexa.asignatura_id } %>
                </span><dd>
               
            </dd>
            <dt>Laboratorio *</dt>
            <dd>            
                <%= select "laboratorio_id", "nombre_lab", @laboratorios.map {|l| [l.nombre_lab, l.id]},html_options={:selected=>@labId } %>
            </dd>            
            <dt>Fecha *</dt>
            <dd>
              <%= f.text_field :fecha, :size=>12, :name=>"fecha",  :id=>"DPC_fecha_DD-MM-YYYY",:value=>@asignacionexa.solicitudlabexa.fecha.strftime('%d-%m-%Y')%></dd>
            <dt>Soft. requerido</dt>
            <dd><%= f.text_area :comentarios, :rows =>4, :cols=>40, :name=>"comentarios", :value =>@asignacionexa.solicitudlabexa.comentarios  %></dd>
            
           <dt>Tramo horario *</dt>
           <dd><table>
                       <tr style="font-size:1.1em;text-align:center">
                          <td class="cien">Hora inicio </th>
                          <td class="cien">Hora fin </th>
                       </tr>
                       <tr valign="top" style="text-align:center"> 
                          <td class="cien">
                                       <%= select "horaini", "comienzo", @horas.map {|h| [h.comienzo]}, html_options={:selected=>@asignacionexa.solicitudlabexa.horaini } %></td>
                          <td class="cien"><%= select "horafin", "fin", @horas.map {|h| [h.fin]}, html_options={:selected=>@asignacionexa.solicitudlabexa.horafin } %></td>
                       </tr>
                </table><!-- de subformulario --></td>
            </dd><!-- de tramos horarios -->
               <p><%= f.submit "Asignar",:id=>"asignar" %></p>
          </dl>  
        </div><!-- de recuadro-azul -->
        <div id="errores">
             <%= f.error_messages :header_message => 'Se produjeron errores en la captura de datos', 
                  :message => 'Imposible crear una nueva asignacion de laboratorio:'%>
             <% if flash.now[:notice] %>
                <div id="errorExplanation">
                  <p>Imposible crear una nueva asignacion de laboratorio:</p>
                  <ul><li><%=flash.now[:notice]%></li></ul>
                </div>
             <% end %>
         </div>
        <% end %><!-- de form_for -->
       <% else %>
     </div><!-- de recuadro -->
</div><!-- de central -->

<script type="text/javascript" charset="utf-8">

$(function()
{
  $("#titulacion_titulacion_id").combobox();

  $("#titulacion_titulacion_id").change(function()
  {
  var nivel=$("#nivel").val();
  var titulacion=$("#titulacion_titulacion_id").val();
  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:"/asignaturas/combo_por_titulacion",
           data:{combo_nivel:nivel,titulacion:titulacion}
        });
});

$("#nivel").change(function()
{
  var titulacion=$("#titulacion_titulacion_id").val();
  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:"/asignaturas/combo_por_nivel",
           data:{combo_nivel:$("#nivel").val(),titulacion:titulacion}
        });
});

});
</script>