<div id="central" >
    <p id=titulo>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Solicitudes de laboratorios para periodo lectivo
    </p>
    <div id="recuadro">
        <div id="lista-gestion">
            <p><%= image_tag ("bg_separ.gif") %></p>
            <div style="display:inline;">
            <div id="busqueda" style="float:left;">
               <table>
                <tr>
                  <td><%= image_tag("search.png") %></td>
                  <td>Buscar  : 
                  <td><%= text_field_tag "query" %></td>    
                </tr>
               </table>
             </div>
             <!--Si no hay solicitudes actuales, se debe mostrar la opción copiar las solicitudes del año pasado si las hubiese-->
             <%if @labRequestsAllowed and @numSolLabAñoPasado != 0%>
             <div style="float:left;">
              <table>
                <tr>
                  <!--<td>    
                  <%= select_tag 'asignatura', options_for_select(@solicitudlabs.map {|s| [ s.asignatura.abrevia_asig, s.asignatura_id ]}), { :multiple => true, :size =>3 } %>
                  </td>-->
                  <td><input name="copyBtn" type="button" value="Copiar solicitudes" style="width:130px;height:30px;" /></td>   
                </tr>
               </table>
             </div>
             <%end%>
            </div>
       
             <div id="tabla" style="float:left;">
              <%= render :partial => "items_lista" %>  
             </div> 
         </div><!-- de lista-gestion -->
     </div><!-- de recuadro -->
</div><!-- de central -->


<script type="text/javascript">
 $(function()
  {
    $("#query").keyup(function()
      {
         var url="/solicitudusuariolabs/listar";
         var query=$("#query").val();
         $.ajax({
          type:"POST",
          url:url,
          data:{query:query}
         });
      });
   
  });


$(function()
{
     $('input[name=copyBtn]').click(function () { 
  
       $.ajax({
                 type: "POST",
                 dataType:"json",
                 url: "solicitudusuariolabs/copy",
                 data: {},
                 success: function(data)
                 {
                    alert(data);
                    //window.location.href="solicitudusuariolabs";  
                 },
                 fail: function(data)
                 {
                  alert("Fallo");
                 }
              });
       
    });
});

</script>
