<div id="central" >
    <p id=titulo>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Solicitudes de laboratorios para periodo lectivo
    </p>
    <div id="recuadro">
        <div id="lista-gestion">
            <p><%= image_tag ("bg_separ.gif") %></p>
            <div style="display:inline;">
            <div id="busqueda" style="float:left;">
               <table>
                <tr>
                  <td><%= image_tag("search.png") %></td>
                  <td>Buscar  : 
                  <td><%= text_field_tag "query" %></td> 
                  <td>
                   <div id="cargando" style="text-align:center">
                        <%=image_tag("ajax-loader.gif",:border=>0) %>
                     </div></td>   
                </tr>
               </table>
             </div>
             <!--Si no hay solicitudes actuales, se debe mostrar la opción copiar las solicitudes del año pasado si las hubiese , { :multiple => true, :size =>3 }-->
             <%if @labRequestsAllowed and @numSolLabAñoPasado != 0%>
             <div style="float:left;">
              <table>
                <tr>
                  <td>    
                  <%= select_tag 'asignatura', options_for_select(@asignaturas.map {|s| [ s.abrevia_asig, s.id ]}.uniq) %>
                  </td> 
                </tr>
                <tr> <td><input name="copyBtn" type="button" value="Copiar solicitudes" style="width:130px;height:30px;" /></td>  </tr>
               </table>
             </div>
             <%end%>
            </div>
            <div id="errores">
       </div>
             <div id="tabla" style="float:left;">
              <%= render :partial => "items_lista" %>  
             </div> 
         </div><!-- de lista-gestion -->
     </div><!-- de recuadro -->
</div><!-- de central -->


<script type="text/javascript">
 $(function()
  {
    $("#query").keyup(function()
      {
         var url="/solicitudusuariolabs/listar";
         var query=$("#query").val();
         $.ajax({
          type:"POST",
          url:url,
          data:{query:query}
         });
      });
   eventosCopiar();
  });

function eventosCopiar()
{ 
	$("#cargando").hide();
	 $('input[name=copyBtn]').click(function () { 
   $("#cargando").show();
       $.ajax({
                 dataType:"json",
                 type: "POST",
                 url: "/solicitudusuariolabs/copy",
                 data: {asignatura:$("#asignatura").val()},
                 success: function(data)
                 {
                  //errors=xhr.responseJSON.error
                   $("#cargando").hide();
                  alert("La copia se ha realizado con éxito.");
                    location.reload();

                 },
                 error: function(evt, xhr, status, error)
                 {
                  var errors=xhr.responseJSON.error
                   $("#cargando").hide();
                   $("#errores").append("<div id='errorExplanation'><p>Imposible copiar las solicitudes:</p><ul>"+errors+"</ul></div>");
                  //for message of errors

                 }
              });
               });
}

</script>
