<div id="central" >
   <p>GESTOR DE RECURSOS<br/>
      <%= image_tag ("pointer.gif") %>Creando solicitud de laboratorio para periodo lectivo
   </p>
   <div id="recuadro">
      <p><%= image_tag ("bg_separ.gif") %></p>
     <% periodo=Periodo.find(:all,:conditions=>['admision = ? and tipo = ?',"t","Lectivo"]) %>
     <% if periodo.size!=0 %>
      <div id="recuadro-azul" style="min-height:550px">   
        <% form_for @solicitudlab, :url => solicitudusuariolabs_path, :action=>"create",
                               :html=> {:name => "formulario"} do |f| %>
         <dl>
          <dt>Fecha solicitud</dt>
          <dd><%= @dia=@solicitudlab.fechaini=@solicitudlab.fechafin= fecha_europea(Date.today) %></dd>
          <dt>Titulaci&oacute;n *</dt>
            <dd id="combo_titulacion"><%@titulaciones=Titulacion.find(:all,:order=>"id")%>
              <%= select "titulacion", "titulacion_id", @titulaciones.map {|t| [t.nombre,t.id]} %></dd>
          <dt>Curso *</dt>
          <dd id="combo_nivel"><%= select_tag "nivel", options_for_select(Asignatura::CURSO)%></dd>
	  <dt>Asignatura *</dt>    
          <dd><SPAN id="combo_asignatura">
               <% if (Asignatura::CURSO).first=="optativa" %>
                   <% as='0' %>
                <% else %>
                   <% as=Asignatura::CURSO.first %>
                <% end %>
              <% @asignaturas=Asignatura.find(:all,:conditions=>['titulacion_id = ? and curso = ?',@titulaciones.first.id,as]) %>
              <%= select "asignatura", "id", @asignaturas.map {|t| [t.nombre_asig,t.id]} %>
              </span><dd>
              <%= observe_field 'titulacion_titulacion_id', 
                            :url =>{:controller => 'asignaturas', :action => 'combo_por_titulacion'}, 
                            :update => 'combo_asignatura', 
                            :with => 'combo_titulacion' %>
              <%= observe_field 'nivel', 
                            :url =>{:controller => 'asignaturas', :action => 'combo_por_nivel'}, 
                            :update => 'combo_asignatura', 
                            :with => 'combo_nivel' %>
          </dd>
          <dt>Puestos *</dt>
          <dd><% periodoact=Periodo.find(:first,:conditions=>["admision = ? and tipo = ?","t","Lectivo"]) %>
                <% if periodoact.nil? %>
                   <%  inicio=fin=fecha_europea(Date.today) %>
                <% else %>
                   <% iniperiodoact=periodoact.inicio %>
                   <% finperiodoact=periodoact.fin %>
                   <% inicio=fecha_europea(iniperiodoact) %>
                   <% fin=fecha_europea(finperiodoact) %>
                <% end %>
                <% @puestos=Laboratorio.find_by_sql(["select distinct(puestos) from laboratorios order by puestos"]).map{|l| l.puestos} %>
                <%= select_tag "npuestos", options_for_select(@puestos<<Laboratorio::DOS_LAB) %>
          </dd>
          
          <dt>Fecha inicio *</dt>
          <dd>
          <%= f.text_field :fechaini, :size=>12, :name=>"fechaini",  :id=>"DPC_fechaini_DD-MM-YYYY", :value=>inicio %></dd>
          <dt>Fecha fin *</dt>
          <dd><%= f.text_field :fechafin, :size=>12, :name=>"fechafin", :id=>"DPC_fechafin_DD-MM-YYYY", :value=>fin %>  </dd>
          <dt>Soft. requerido</dt>
          <dd><%= f.text_area :comentarios, :rows =>4, :cols=>40, :name=>"comentarios" %></dd>

          <dt>Tipo de equipos</dt>
          <dd>
           <table id="preferencias"><tr style="font-size: 0.7em;font-weight: normal;text-align:center">
             <tr>
               <th></th>
               <td style="text-align:center">Si</td>
               <td style="text-align:center">No</td>
               <td style="text-align:center">Indif.</td>
             </tr>
               <% @especiales=Laboratorio.find(:all,:conditions=>['especial=?',"t"]) %> 
             <% for especial in @especiales do %>
             <tr style="font-size: 10px;font-weight: normal;text-align:center">
               <td class="cien"><%= especial.ssoo %>
                          <% nombre=especial.ssoo %></td>
               <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'si' ,:disabled=> true %></td>
               <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'no' ,:disabled=> true %>   </td>
               <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'in' ,:enabled=> true %>  </td>
             </tr>
             <% end %><!-- de for especial -->
           </table><!-- de preferencias de lab especial -->
          </dd>
          <dt>D&iacute;as y horas *</dt>
          <dd><table>
                <tr> 
                  <td id="subform"><!-- visualizacion de los tramos horarios elegidos -->
                    <% @tramos=session[:tramos_horarios].solicitudes %> 
                    <table id="tramos">
                       <% if @tramos.empty? %>
                           <tr><td><%= h "Introduzca tramos horarios" %></td></tr>
                       <% else %>
                           <%=render(:partial => "solicitudrecursos/muestra_tramo", :collection=> @tramos) %> 
                       <% end %>
                    </table></td>
                  <td><a onclick='mostrardiv("subformulario")'>
                      <%= image_tag("reloj.jpg",:border=>0) %></a></td>
                 </tr>
                 <tr height=10></tr>
                 <tr>
                  <td><table id="subformulario" style="visibility:hidden">
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                         <th width=60></th>
                         <th width=60></th>
                         <th width=60></th>
                         <th style="align:left"><%=image_tag("icon_close.png",:border=>0,
                                                    :onclick=>'ocultardiv("subformulario")')%></th>
                       </tr>
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                         <th width=60>Dia semana</th>
                         <th width=60>Hora inicio </th>
                         <th width=60>Hora fin </th>
                         <th></th>
                       </tr>
                       <tr valign="top" halign=center>
                         <td width=60><% @dias=Dia.find(:all,:conditions=>['en_uso=?',"t"]) %>
                                      <%= select  "diasemana","nombre", @dias.map {|d| [d.nombre] }%></td> 
                         <td width=60><% @horas=Horario.find(:all,:conditions=>['en_uso=?',"t"]) %>
                                      <%= select "horaini", "comienzo", @horas.map {|h| [h.comienzo] }%></td>
                         <td width=60><%= select "horafin", "fin", @horas.map {|h| [h.fin] }%></td>
                         <td width=15>
                            <%= link_to_remote(image_tag("mas.png",:border=>0),
                                       :submit   => "subformulario",
                                       :url      => { :controller=>:solicitar,:action => 'anadir' },
                                       :success  => 'mostrardiv("solicitudlab_submit")') %>
                         </td>     
                       </tr>
                     </table><!-- subformulario de captacion de tramos horarios -->
                    </td>
                  </tr>
            </table></dd>
          
          <p><%= f.submit 'Crear' %></p>
         </dl>  
       </div><!-- de recuadro-azul -->
       <div id="errores">
            <%= f.error_messages :header_message => 'Se produjeron errores en la captura de datos', 
                        :message => 'Imposible crear una nueva solicitud de laboratorio:'%>
            <% if flash[:notice] %>
                <div id="errorExplanation">
                     <p>Imposible crear una nueva solicitud de laboratorio:</p>
                     <ul><li><%=flash[:notice]%></li></ul>
                </div>
            <% end %>
       </div>
    <% end %><!-- de form_for -->
   <% else %><!-- de periodo de admision -->
        <div class="aviso">
            <p>No est&aacute; activa la admisi&oacute;n de solicitudes</p>
            <p>Para cualquier consulta: tecnicos@lcc.uma.es</p>
        </div>
   <% end %>
  </div><!-- de recuadro -->
</div><!-- de central -->
