<div id="central" >
  <p>GESTOR DE RECURSOS<br><%= image_tag ("pointer.gif") %>Estad&iacute;sticas de uso de laboratorios en periodo de ex&aacute;menes</p>

    <div id="recuadro" style="width:1500px">
      <p><%= image_tag ("bg_separ.gif") %></p>
      <% nregistros=Historicoasigexa.all.size %>

      <% if nregistros!=0 %>
          <% @periodos=Historicoasigexa.order("periodo").all %>
          <%= form_tag(url_for(:controller=>'estadisticas',:action=>'estadisticas_examenes'),id:"form", method:"post",before: 'mostrardiv("imagen-progreso")', remote:true) do %>
          
          <table id="busqueda" style="width:400px">
          <tr>
            <td style="text-align:left;width:100px">Periodo : </td>
            <td style="text-align:left;width:100px">
<%= select "periodo", "nombre_per", @periodos.map {|r| [r.periodo]}.uniq %>           </td>
            <td style="width:100px">
            <%= submit_tag("Buscar", :type=>:image, :src=>"/images/boton2.png")%>
            </td>
          </tr>
        </table>

        <table id="eliminahistorico" style="margin-left:900px;margin-top:-50px">
          <tr>
            <td><%= link_to(image_tag("limpiar.jpeg",:border=>0,:width=>32,:height=>32),
{class:"borrarHistorico", :method => 'POST',:controller=>'estadisticas',:action => 'borrar_historico_examenes' },
                         :before   => 'mostrardiv("imagen-progreso")',
                         :confirm  => "Esto eliminará todo el registro histórico de asignaciones en período de exámenes. ¿Está seguro?", :remote => true)%></td>
           <td style="color:#010080;font-size:0.9em">Limpiar<br/> hist&oacute;rico</td>
          </tr>
        </table>

        <div id="registros">
           <div id="imagen-progreso" 
        style="position:relative;top:-35px;right:200px;visibility:hidden">
             <%=image_tag("ajax-loader.gif",:border=>0) %>
           </div>
        </div> <!-- de reservas -->
       <% end %> <!-- de form_tag -->
       <% else %>
          <div class="aviso" style="text-align:left;font-size:160%">
             No hay registros para analizar en el archivo hist&oacute;rico
          </div>
       <% end %><!-- de if nregistros -->
     </div><!-- de recuadro -->
</div>

<script type="text/javascript" charset="utf-8">
alert("ss");
$(function(){
   $(".borrarHistorico").bind("ajax:complete",function(){
	alert("PP");
      location.reload();	
	});
 });
</script>
