<% if muestra_tramo.id == @actual %>
   <tr id="actual" valign=top><!-- para el efecto highlight de scriptaculous -->
<% else %>
   <tr valign=top>
<% end %>
     <td style="width:80px"><%= muestra_tramo.diasemana %></td>  
     <td style="width:30px"><%= muestra_tramo.horaini %></td>
     <td style="width:5px"><%="-" %></td>
     <td style="width:30px"><%= muestra_tramo.horafin %></td>
     <td style="width:15px">
        <%= link_to(image_tag("menos.png",:border=>0),"#",
                                          name:"linkEliminar") %>
     <td width="0"><input name="muestraId" type="hidden" value=<%= muestra_tramo.id%>/></td>   
   </tr>



<script type="text/javascript">

$(function()
{

$("a[name=linkEliminar]").click(function()
{
  var url="/solicitar/eliminar";
  var numero=$(this).closest("tr").find("input[name='muestraId']").val();
  $.ajax({
     url:url,
     data:{num:numero},
     success:function()
     {
      mostrardiv("solicitudlab_submit");
     }
  });
});

});


</script>