<div id="central" >
    <p id=titulo>GESTOR DE RECURSOS<br/>
       <%= image_tag ("pointer.gif") %>Gesti&oacute;n de archivos: Solicitudes de laboratorios para periodo lectivo
    </p>
    <div id="recuadro">
       <div id="lista-gestion">
          <p><%= image_tag ("bg_separ.gif") %></p>
          
          <div id="busqueda">
           <table>
            <tr>
              <td><%= image_tag("search.png") %></td>
              <td>Buscar  : 
              <td><%= text_field_tag "query" %>     
            </tr>
           </table>
          </div><!-- de busqueda -->

          <%= form_tag new_solicitudlab_path, :method=>:get do -%>
             <%= submit_tag "Nueva solicitud", :class=>"botonindexsearch" %>
          <% end -%>

          <br/>

          <img id="cargando" style="vertical-align:middle;display:none;horizontal-align:middle;" src="/assets/ajax-loader.gif" />

      
          <% if @solicitudlabs %>
              <% periodo=Periodo.where("tipo = ? AND (activo = ? OR admision = ?)","Lectivo","t","t").order("admision DESC").first %>
              <div id="nom_periodo">
                <% if !periodo.nil? %><!-- si se esta en un periodo de asignaciones activadas o adjudicadas-->
                  <%= periodo.nombre %>
                <% else %>
                  No hay ning&uacute;n periodo activo
                <% end %>
              </div>
              <table>
                <tr>
                  <td><%= select "tiempoSolicitud", "tiempo", options_for_select(@tiempoSolicitudes.each_with_index.map{|x,i|[x,i]})%></td>
                </tr>
              </table>
              <table>
                <tr>
                  <td style="vertical-align:top"><%= image_tag ("bg_separ.gif") %></td>
                  <td style="vertical-align:middle"><%= link_to image_tag("print.png",:alt=>"Para imprimir"), '',{:id => 'printLink',:target => "_blank" } %></td>
                </tr>
              </table>
              <div id="tabla"><%= render :partial => "items_lista" %></div> 
          <%end%><!-- de if @solicitudlabs-->
       </div><!-- de lista-gestion -->
    </div><!-- de recuadro -->
</div><!-- de central -->



<script type="text/javascript">
$(function()
{
   $("#query").keyup(function()
   {
     var url="solicitudlabs/listar"; 
	   var jqueryVal=$("#query").val();
     var tiempoSol=$("#tiempoSolicitud_tiempo").val();

     $.ajax
     ({
       beforeSend:function(xhr)
       {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
       },
       type:"POST",
       url:url,
       data:{query:jqueryVal, tiempoSolicitud:tiempoSol}
     });
   });


$("#tiempoSolicitud_tiempo").change(function()
{
  var url="solicitudlabs/listar";
  $("#cargando").show();

  var jqueryVal=$("#query").val();
  var tiempoSol=$("#tiempoSolicitud_tiempo").val();

  $.ajax({
           beforeSend:function(xhr)
           {
              xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
           },
           type:"POST",
           url:url,
           data:{query:jqueryVal, tiempoSolicitud:tiempoSol},
           success: function()
           {
            $("#cargando").hide();
           }
        });
});


$("#printLink").click(function()
   {
       var url="listado/solicitud_lectivo_impresa"; 
       var jqueryVal=$("#query").val();
       var tiempoSol=$("#tiempoSolicitud_tiempo").val();

       var params = "?query=" + jqueryVal + "&tiempoSol=" + tiempoSol;
       var viewFormat = ".pdf";
       $(this).attr('href',url + viewFormat + params);
     
   });

});

</script>

