<div id="central" >
     <p>GESTOR DE RECURSOS<br/>
        <%= image_tag ("pointer.gif") %>Gesti&oacute;n de archivos: Creando solicitud de laboratorio para periodo lectivo
     </p>
     <div id="recuadro">
        <p><%= image_tag ("bg_separ.gif") %></p>

        <div id="recuadro-azul" style="height:600px">
          <%= form_for @solicitudlab, :html=> {:name => "formulario"} do |f| %>
          <dl>
            <dt>Fecha solicitud</dt>
            <dd><%= @dia=@solicitudlab.fechaini=@solicitudlab.fechafin= fecha_europea(Date.today) %></dd>
            <dt>Usuario *</dt>
            <dd><% @usuarios=Usuario.order("apellidos").all.reject{|u| u.identificador=="anonimo"} %>
                
                <%= select "usuario", "identificador", @usuarios.map {|u| [u.apellidos+", "+u.nombre,u.id]} %>

            </dd>
            <dt>Titulaci&oacute;n *</dt>
            <dd id="combo_titulacion"><%@titulaciones=Titulacion.order("id").all %>
                <%= select "titulacion", "titulacion_id", @titulaciones.map {|t| [t.nombre,t.id]} %></dd>
            <dt>Curso *</dt>
            <dd id="combo_nivel"><%= select_tag "nivel", options_for_select(Asignatura::CURSO)%></dd>
	    <dt>Asignatura *</dt>    
            <dd><SPAN id="combo_asignatura">
                <% if (Asignatura::CURSO).first=="optativa" %>
                   <% as='0' %>
                <% else %>
                   <% as=Asignatura::CURSO.first %>
                <% end %>
                <% @asignaturas=Asignatura.where("titulacion_id = ? AND curso = ?",@titulaciones.first.id,as).all %>

                <%= select "asignatura", "id", @asignaturas.map {|t| [t.nombre_asig,t.id]} %>

                </span><dd>
            </dd>
            <dt>Puestos *</dt>
            <dd><% periodoact=Periodo.where("admision = ? AND tipo = ?","t","Lectivo").first %>
                <% if periodoact.nil? %>
                   <%  inicio=fin=fecha_europea(Date.today) %>
                <% else %>
                   <% iniperiodoact=periodoact.inicio %>
                   <% finperiodoact=periodoact.fin %>
                   <% inicio=fecha_europea(iniperiodoact) %>
                   <% fin=fecha_europea(finperiodoact) %>
                <% end %>
                <% @puestos=Laboratorio.find_by_sql(["select distinct(puestos) from laboratorios order by puestos"]).map{|l| l.puestos} %>             
                <%= select_tag "npuestos", options_for_select(@puestos<<Laboratorio::DOS_LAB) %>
            </dd>
            
            <dt>Fecha inicio *</dt>
            <dd>
              <%= f.text_field :fechaini, :size=>12, :name=>"fechaini",  :id=>"DPC_fechaini_DD-MM-YYYY", 
                  :value=>inicio %></dd>
            <dt>Fecha fin *</dt>
            <dd><%= f.text_field :fechafin, :size=>12, :name=>"fechafin", :id=>"DPC_fechafin_DD-MM-YYYY",
                  :value=>fin %>  </dd>
            <dt>Soft. requerido</dt>
            <dd><%= f.text_area :comentarios, :rows =>4, :cols=>40, :name=>"comentarios" %></dd>
            <dt>Tipo de equipos</dt>
            <dd>
               <table id="preferencias"><tr style="font-size: 0.7em;font-weight: normal;text-align:center">
                <tr>
                 <th></th>
                 <td style="text-align:center">Si</td>
                 <td style="text-align:center">No</td>
                 <td style="text-align:center">Indif.</td>
                </tr>
                <% @especiales=Laboratorio.where("especial=?","t").all %>
                <% for especial in @especiales do %>
                <tr style="font-size: 10px;font-weight: normal;text-align:center">
                   <td class="cien"><%= especial.ssoo %>
                                 <% nombre=especial.ssoo %></td>
                   <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'si' ,:disabled=> true %>   </td>
                   <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'no' ,:disabled=> true %>   </td>
                   <td style="text-align:center" class="cincuenta"><%= radio_button_tag nombre.to_s, 'in' ,:enabled=> true %>  </td>
                </tr>
                <% end %>
               </table><!-- para elegir preferencias sobre laboratorios especiales -->
           </dd>
           <dt>D&iacute;as y horas *</dt>
           <dd><table>
                <tr> 
                  <td id="subform"><!-- los tramos a visualizar -->
                    <% @tramos=session[:tramos_horarios].solicitudes %> 
                  
                    <table id="tramos">
                      <% if @tramos.empty? %>
                        <tr><td><%= h "Introduzca tramos horarios" %></td></tr>
                      <% else %>
                        <%=render(:partial => "solicitudlabs/muestra_tramo", :collection=> @tramos) %> 
                      <% end %>
                    </table></td>
                  <td><a onclick='mostrardiv("subformulario")'>
                            <%= image_tag("reloj.jpg",:border=>0) %></a></td>
                 </tr>
                 <tr height=10></tr>
                 <tr>
                   <td>
                     <table id="subformulario" style="visibility:hidden"><!-- subformulario para anadir tramo horario -->
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                          <th width=60></th>
                          <th width=60></th>
                          <th width=60></th>
                          <th style="align:left"><%=image_tag("icon_close.png",:border=>0,
                               :onclick=>'ocultardiv("subformulario")')%></th>
                       </tr>
                       <tr style="font-size: 10px;font-weight: normal;text-align:center">
                          <th width=60>Dia semana</th>
                          <th width=60>Hora inicio </th>
                          <th width=60>Hora fin </th>
                          <th></th>
                       </tr>
                       <tr valign="top" halign=center>
                          <td width=60><% @dias=Dia.where("en_uso=?","t").order("num").all %>
                                       <%= select  "diasemana","nombre", @dias.map {|d| [d.nombre] }%></td> 
                          <td width=60><% @horas=Horario.where("en_uso=?","t").order("num").all %>
                                       <%= select "horaini", "comienzo", @horas.map {|h| [h.comienzo] }%></td>
                          <td width=60><%= select "horafin", "fin", @horas.map {|h| [h.fin] }%></td>
                          <td width=15>
                              <%= link_to(image_tag("mas.png",:border=>0),"#",
                                          id:"linkSubFormulario") %>
                          </td>
                        </tr>
                      </table><!-- de subformulario --></td>
                 </tr>
                </table></dd><!-- de tramos horarios -->
                <p><%= f.submit "Crear" %> </p>
                <!--<p><input type="button" value="Crear" id="btnSubmit"/></p>-->
                           
          </dl>  
        </div><!-- de recuadro-azul -->
        <div id="errores">
             <%= f.error_messages :header_message => 'Se produjeron errores en la captura de datos', 
                  :message => 'Imposible crear una nueva solicitud de laboratorio:'%>
             <% if flash[:notice] %>
                <div style="top:400px" id="errorExplanation">
                  <p id="errorP">Imposible crear una nueva solicitud de laboratorio:</p>
                  <ul><li id="errorLi"><%=flash[:notice]%></li></ul>
                </div>
             <% end %>
         </div>
        <% end %><!-- de form_for -->
     </div><!-- de recuadro -->
</div><!-- de central -->


<script type="text/javascript">
$(function()
{
/*$("#btnSubmit").click(function()
  {
    alert("AAAA");
    var url="create";
    $.ajax({
      data:$("#new_solicitudlab").serialize(),
      url:url,
      complete:function()
      {
        alert("AAAA");
        if($("#errores").text()=="")
        {
          window.location.href="solicitudlabs/index";
        }
      }
    });
   // return false;

  });*/
$("#linkSubFormulario").click(function()
{
  var url="/solicitar/anadir";
  var horafin_f=$("#horafin_fin").val();
  var diasemana_n=$("#diasemana_nombre").val();
  var horario_com=$("#horaini_comienzo").val();
  $.ajax({
     beforeSend:function(xhr)
{
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
},

     url:url,
     data:{diasemana_nombre:diasemana_n,horaini_comienzo:horario_com,horafin_fin:horafin_f},
     type:"POST",
     success:function()
     {
      //mostrardiv("solicitudlab_submit");
     }
  });

});


$("#nivel").change(function()
{
 var url="../asignaturas/combo_por_nivel"; 
	 var jqueryVal=$("#nivel").val();
  $.ajax({
  beforeSend:function(xhr)
{
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
},
    type:"POST",
   url:url,
  data:{combo_nivel:jqueryVal}
});
});



   $("#titulacion_titulacion_id").change(function()
   {
    var url="../asignaturas/combo_por_titulacion"; 
	 var jqueryVal=$("#titulacion_titulacion_id").val();
  $.ajax({
  beforeSend:function(xhr)
{
  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
},
    type:"POST",
   url:url,
  data:{combo_titulacion:jqueryVal}
});
   });
   });


</script>