<!DOCTYPE html>
<html>
<head>
  <title>Gestorlcc</title>
  <%= javascript_include_tag "jquery","jquery_ujs" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "datepickercontrol","mios", "loadingoverlay.min" %>
  <%= stylesheet_link_tag 'scaffold','dptolcc2','datepickercontrol_bluegray' %>
  <%= stylesheet_link_tag 'imprimir',:media=>"print" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
